<a href="https://colab.research.google.com/github/team0243/data_viz_2022/blob/main/data_viz_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project กลุ่ม Therapy Python** 

``ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 20/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง``
``
เริ่มพรีเซ็นต์ 25 มีค 30 มีค 1 เมษา
``

** ที่มาของข้อมูล **

1.ข้อมูลรายงาน COVID-19 ประจำประเทศไทย  

https://data.go.th/dataset/covid-19-daily ประกอบด้วย 4 ชุดข้อมูลได้แก่

1.1 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 มกราคม 2564 ถึงวันที่ 11 สิงหาคม 2564

1.2 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 สิงหาคม 2564 ถึงวันที่ 25 ตุลาคม 2564 

1.3 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 25 ตุลาคม 2564 ถึงวันที่ 27 กุมภาพันธ์ 2565 

1.4 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 28 กุมภาพันธ์ 2565 ถึงวันที่ 20 มีนาคม 2565

2.ข้อมูลในแต่ละภูมิภาคฃ

3.ข้อมูลที่เลือกเอง

## อัพโหลดข้อมูลจาก Drive

**Import data**

In [104]:
import numpy as np

In [106]:
import pandas as pd     # pandas ใช้จัดการข้อมูลที่เป็นตาราง
import os       # os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน

In [108]:
from google.colab import drive      # ชี้ไฟล์ที่อยู่ใน google drive เพื่อเชื่อมต่อไฟล์
drive.mount('/content/drive')
path =  '/content/drive/My Drive/Data_viz_project'    # ชี้ dirve ที่เราต้องการ

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## เตรียมข้อมูลData covid ทั้ง 4 ชุด

ข้อมูลชุดที่ 1  รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 มกราคม 2563 ถึงวันที่ 11 สิงหาคม 2564

In [109]:
data_file_path = os.path.join(path,'confirmed-cases.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid1 = pd.read_excel(data_file_path)   # อ่านไฟล์ csv

In [110]:
display(data_covid1.head(2),data_covid1.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
816987,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [111]:
#search.info()

In [112]:
data_covid1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816989 entries, 0 to 816988
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   No.                    816989 non-null  int64
 1   announce_date          816989 non-null  datetime64[ns]
 2   Notified date          814194 non-null  datetime64[ns]
 3   sex                    763984 non-null  object
 4   age                    742211 non-null  float64
 5   Unit                   742352 non-null  object
 6   nationality            734913 non-null  object
 7   province_of_isolation  816717 non-null  object
 8   risk                   815895 non-null  object
 9   province_of_onset      719877 non-null  object
 10  district_of_onset      661689 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(7)
memory usage: 68.6+ MB

1.ใช้ fillna() เปลี่ยนข้อมูลที่มีค่า NaN เป็นค่าที่ระบุ

In [113]:
data_covid1up = data_covid1.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid1up.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,2020-01-17,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,2020-01-22,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,2020-01-24,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล

In [114]:
data_covid1up.isnull().any() # พบว่า ฟิวด์ sex มี ค่า Missing

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [115]:
data_covid1[['age']].describe()

                 age
count  742211.000000
mean       35.677040
std        16.567625
min         0.750000
25%        24.000000
50%        34.000000
75%        46.000000
max       440.000000

In [116]:
data_covid_m1 = data_covid1up.fillna(value={'age':data_covid1['age'].mean()})  #ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [117]:
data_covid_m1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,2020-01-17,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,2020-01-22,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,2020-01-24,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10 00:00:00,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10 00:00:00,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10 00:00:00,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10 00:00:00,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10 00:00:00,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [118]:
data_covid_m1.isnull().any()  # พบว่าฟิว์ดของ sex ไม่มี missing แล้ว

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

ข้อมูลชุดที่ 2 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 สิงหาคม 2564 ถึงวันที่ 25 ตุลาคม 2564

In [119]:
data_file_path = os.path.join(path,'confirmed-cases-since-120864.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid2 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

In [120]:
display(data_covid2.head(2),data_covid2.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [121]:
data_covid2.isnull().any() #ตรวจสอบค่า Missing

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

1.ใช้ fillna() เปลี่ยนข้อมูลที่มีค่า NaN เป็นค่าที่ระบุ

In [122]:
data_covid2up = data_covid1.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid2up.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,2020-01-17,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,2020-01-22,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,2020-01-24,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล

2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [123]:
data_covid_m2 = data_covid2up.fillna(value={'age':data_covid2['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [124]:
data_covid_m2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [125]:
data_covid_m2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,2020-01-17,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,2020-01-22,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,2020-01-24,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10 00:00:00,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10 00:00:00,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10 00:00:00,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10 00:00:00,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10 00:00:00,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

ข้อมูลชุดที่ 3 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 25ตุลาคม 2564 ถึงวันที่ 27 กุมภาพันธ์ 2565

In [126]:
data_file_path = os.path.join(path,'confirmed-cases-since-271064.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid3 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [127]:
display(data_covid3.head(2),data_covid3.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [128]:
data_covid3.isnull().any() #ตรวจสอบค่า Missing

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

1.ใช้ fillna() เปลี่ยนข้อมูลที่มีค่า NaN เป็นค่าที่ระบุ

In [129]:
data_covid3up = data_covid3.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid3up.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN

2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [130]:
data_covid_m3 = data_covid3up.fillna(value={'age':data_covid2['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [131]:
data_covid_m3.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
Unnamed: 11               True
dtype: bool

In [132]:
data_covid_m3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,35.258596,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,35.258596,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,35.258596,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,35.258596,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,35.258596,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN

ข้อมูลชุดที่ 4 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 28 กุมภาพันธ์ 2565 ถึงวันที่ 20 มีนาคม 2565

In [133]:
data_file_path = os.path.join(path,'confirmed-cases-since-280265.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid4 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

In [134]:
display(data_covid4.head(2),data_covid4.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
484351,3353968,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
484352,3353969,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [135]:
data_covid4.isnull().any() #

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

1.ใช้ fillna() เปลี่ยนข้อมูลที่มีค่า NaN เป็นค่าที่ระบุ

In [136]:
data_covid4up = data_covid4.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid4up.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา

2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [137]:
data_covid_m4 = data_covid4up .fillna(value={'age':data_covid4['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [138]:
data_covid_m4.isnull().any() #ไม่มี Missing แล้ว

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [139]:
data_covid_m4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
484348,3353965,20/3/2022,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
484349,3353966,20/3/2022,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
484350,3353967,20/3/2022,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
484351,3353968,20/3/2022,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
484352,3353969,20/3/2022,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

รวมตาราง Covid ทั้ง 4  ตาราง

In [140]:
data_c1 = pd.concat([data_covid_m1,data_covid_m1],ignore_index=True) # รวมตาราง ที่ 1กับ 2 โดยตารางที่ 2 จะเริ่มนับ No.ต่อจาก ตาราง 1

In [141]:
data_c2 = pd.concat([data_covid_m3,data_covid_m4],ignore_index=True) # รวมตาราง ที่ 3กับ 4 โดยตารางที่ 4 จะเริ่มนับ No.ต่อจาก ตาราง 3

In [142]:
data_covid_all = pd.concat([data_c1,data_c2],ignore_index=True)

In [143]:
data_covid_all

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,2020-01-12 00:00:00,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
1,2,2020-01-17 00:00:00,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
2,3,2020-01-22 00:00:00,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,2020-01-22 00:00:00,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
4,5,2020-01-24 00:00:00,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3128785,3353965,20/3/2022,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
3128786,3353966,20/3/2022,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
3128787,3353967,20/3/2022,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
3128788,3353968,20/3/2022,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
3128789,3353969,20/3/2022,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN

In [144]:
data_covid_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3128790 entries, 0 to 3128789
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   No.                    int64
 1   announce_date          object
 2   Notified date          object
 3   sex                    object
 4   age                    object
 5   Unit                   object
 6   nationality            object
 7   province_of_isolation  object
 8   risk                   object
 9   province_of_onset      object
 10  district_of_onset      object
 11  Unnamed: 11            float64
dtypes: float64(1), int64(1), object(10)
memory usage: 286.4+ MB

In [149]:
data_covid_all.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
Unnamed: 11               True
dtype: bool

ดูชุดข้อมูล ของ ชื่อจังหวัด

In [ ]:
set(data_covid_all['province_of_onset'])

ทำการแก้ไขข้อมูลการพิมพ์จังหวัด ที่พิมพ์ผิด  ให้ตรงกับรูปแบบที่กำหนด

In [155]:
data_covid_all['province_of_onset'].replace({'USA':'ไม่มีข้อมูล','\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','\xa0กาญจนบุรี':'กาญจนบุรี','\xa0ชลบุรี':'ชลบุรี','\xa0ตราด':'ตราด','\xa0นครปฐม':'นครปฐม',
                                         '\xa0สมุทรสงคราม':'สมุทรสงคราม','\xa0สมุทรสาคร':'สมุทรสาคร','\xa0อุทัยธานี':'อุทัยธานี','กทม':'กรุงเทพมหานคร','กทม.':'กรุงเทพมหานคร','กบินทร์บุรี':'ปราจีนบุรี','กระบี่ี่':'กระบี่','กรุงเทพ':'กรุงเทพมหานคร',
                                         'กรุงเทพมหานคร.':'กรุงเทพมหานคร','กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร','กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร','กรุงเทพฯ':'กรุงเทพมหานคร','กะทู้':'ภูเก็ต',
                                         'กัมพูชา':'ไม่มีข้อมูล','กาญจบุรี':'กาญจนบุรี','กาญนบุรี':'กาญจนบุรี','กาฬสิน':'กาฬสินธุ์','กาฬสินธิ์':'กาฬสินธุ์','กาฬสินธุ์\xa0':'กาฬสินธุ์','กาฬสินธ์':'กาฬสินธุ์',
                                         'กำเพงเพชร':'กำแพงเพชร','กำแพง':'กำแพงเพชร','กำแพงเพชร':'กำแพงเพชร','กำแพงเพชร\xa0':'กำแพงเพชร','กําแพงเพชร':'กำแพงเพชร',
                                         'ขอนแก่น\xa0':'ขอนแก่น','ขอนแก่่น':'ขอนแก่น','ขานุวรลักษณ์บุรี':'กำแพงเพชร','คนไทยเดินทางกลับจากต่างประเทศ':'ไม่มีข้อมูล','คลองเตย':'กรุงเทพมหานคร','จ.กรุงเทพมหานคร':'กรุงเทพมหานคร',
                                         'จ.ภูเก็ต':'ภูเก็ต','จ.ราชบุรี':'ราชบุรี','จ.สุราษฎร์ธานี':'สุราษฎร์ธานี','จังหวัดสมุทรสาคร':'สมุทรสาคร','ฉะเชองเทราร':'ฉะเชิงเทรา','ชมพร':'ชุมพร',
                                         'ชลบุรี\t':'ชลบุรี','ชลบุรี\xa0':'ชลบุรี','ชลบุุรี':'ชลบุรี','ชอนแก่น':'ขอนแก่น','ชัยนาถ':'ชัยนาท','ชัยบาดาล':'ลพบุรี','ชัยภูมิ\xa0':'ชัยภูมิ','ชุุมพร':'ชุมพร','ชุุุมพร':'ชุมพร',
                                         'ดอนมดแดง':'อุบลราชธานี','ดินแดง':'กรุงเทพมหานคร','ตรััง':'ตรัง','ตราด\xa0':'ตราด','ตากใบ':'นราธิวาส','ต่างจังหวัด':'ไม่มีข้อมูล','ทุ่งเสลี่ยม':'สุโขทัย',
                                         'ท้ายบ้าน':'สมุทรปราการ','ธารโต':'ยะลา','นคนปฐม':'นครปฐม','นคปฐม':'นครปฐม','นครนปฐม':'นครปฐม','นครนาชสีมา':'นครราชสีมา','นครปฐม\xa0':'นครปฐม',
                                         'นครปบม':'นครปฐม','นครพนม\xa0':'นครพนม','นครยายก':'นครนายก','นครราขสีมา':'นครราชสีมา','นครราชธานี':'นครราชสีมา','นครราชศรีมา':'นครราชสีมา','นครราชสสีมา':'นครราชสีมา',
                                         'นครราชสีมา ลพบุรี':'นครราชสีมา','นครราชสีมา\xa0':'นครราชสีมา','นครศรธรรมราช':'นครศรีธรรมราช','นครศรี':'นครศรีธรรมราช','นครศรีธรมมราช':'นครศรีธรรมราช',
                                         'นครศรีธรมราช':'นครศรีธรรมราช','นครศรีธรรมราข':'นครศรีธรรมราช','นครศรีฯ':'นครศรีธรรมราช','นครศรีีธรรมราช':'นครศรีธรรมราช','นครศร๊ธรรมราช':'นครศรีธรรมราช',
                                         'นครศร๊ะรรมราช':'นครศรีธรรมราช','นครสรรค์':'นครสวรรค์','นครสรีธรรมราช':'นครศรีธรรมราช','นครสวรรค':'นครสวรรค์','นครสวรรค์\xa0':'นครสวรรค์','นครสีธรรมราช':'นครศรีธรรมราช',
                                         'นครฯ':'นครศรีธรรมราช','นคราชสีมา':'นครราชสีมา','นครีศรีธรรมราช':'นครศรีธรรมราช','นตรนายก':'นครนายก','นตรปฐม':'นครปฐม','นนทบุรี\xa0':'นนทบุรี',
                                         'นนทบุุรี':'นนทบุรี','นนทุบรี':'นนทบุรี','นนทุรี':'นนทบุรี','นนมบุรี':'นนทบุรี','นรศรีธรรมราช':'นครศรีธรรมราช','นราธิวาส\u200b':'นราธิวาส','นราธฺวาส':'นราธิวาส','นอกเขต':'ไม่มีข้อมูล',
                                         'นาราธิวาส':'นราธิวาส','นาวัง':'หนองบัวลำภู','น่าน/ฉะเชิงเทรา':'น่าน','บางกรวย':'นนทบุรี','บางกะปิ':'กรุงเทพมหานคร','บางนา':'กรุงเทพมหานคร','บางปะอิน':'กรุงเทพมหานคร',
                                         'บางละมุง':'ชลบุรี','บางศรีเมือง':'นนทบุรี','บางเพียง':'สมุทรปราการ','บึงโขงหลง':'บึงกาฬ','บุรีรัมภ์':'บุรีรัมย์','บุรีรัมย์\xa0':'บุรีรัมย์','บุรีรัยม์':'บุรีรัมย์','บุรีรีมย์':'บุรีรัมย์',
                                         'บ้านหลวง':'น่าน','ปจ':'ไม่มีข้อมูล','ปทึมธานี':'ปทุมธานี','ปทุทธานี':'ปทุมธานี','ปทุมฑานี':'ปทุมธานี','ปทุมทานี':'ปทุมธานี','ปทุมธาน':'ปทุมธานี','ปทุมธานี\xa0':'ปทุมธานี','ปทุมาธานี':'ปทุมธานี',
                                         'ปธุมธานี':'ปทุมธานี','ปทุมธานี.':'ปทุมธานี','ปทุมธานีี':'ปทุมธานี','ปทุุมธานี':'ปทุมธานี','ปมุมธานี':'ปทุมธานี',
                                         'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์','ประจวบ':'ประจวบคีรีขันธ์','ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขัน':'ประจวบคีรีขันธ์',
                                         'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์','ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์','ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์',
                                         'ประจวบฯ':'ประจวบคีรีขันธ์','ประทุมธานี':'ปทุมธานี', 'ประเทศกัมพูชา':'ไม่มีข้อมูล','ปราจีบุรี':'ปราจีนบุรี','ปลวกแดง':'ระยอง','ปลายพระยา':'กระบี่', 'ปอยเปต':'ไม่มีข้อมูล','ปัตตนรี':'ปัตตานี',
                                         'ปัตตานนี':'ปัตตานี','ปัตตานีี':'ปัตตานี','ปัว':'น่าน','ปััตตานี':'ปัตตานี','ปุทมธานี':'ปทุมธานี','ป่าโมก':'อ่างทอง','พม่า':'ไม่มีข้อมูล','พรหมพิราม':'พิษณุโลก','พระนครศรียุธยา':'พระนครศรีอยุธยา',
                                         'พระนครศรีอยุทธยา':'พระนครศรีอยุธยา','พระนครศรีอยุทยา':'พระนครศรีอยุธยา','พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา','พัทยา':'ชลบุรี','พัทลุุง':'พัทลุง','พัังงา':'พังงา',
                                         'พิษณุโลก\xa0':'พิษณุโลก','พิษณูโลก':'พิษณุโลก','ฟินแลนด์':'ไม่มีข้อมูล','ภาษีเจริญ':'กรุงเทพมหานคร','ภุเก็ต':'ภูเก็ต','ภูุเก็ต':'ภูเก็ต','ภููเก็ต':'ภูเก็ต','ภูเก็็ต':'ภูเก็ต','ภูเพียง':'น่าน',
                                         'มหาสาคาม':'มหาสารคาม','มาเลเซีย':'ไม่มีข้อมูล','มุกาดหาร':'มุกดาหาร','ยานนาวา':'กรุงเทพมหานคร','ร.จ.จ.นราธิวาส':'นราธิวาส','รอ':'ร้อยเอ็ด','ระบุ':'ไม่มีข้อมูล','ระยอง\xa0':'ระยอง',
                                         'ระอยง':'ระยอง','ราชบบุรี':'ราชบุรี','ราชบุรีี':'ราชบุรี','ราชบุรี\u200b':'ราชบุรี','ราชุรี':'ราชบุรี','ราชเทวี':'กรุงเทพมหานคร','ร้องกวาง':'แพร่','ลบุรี':'ลพบุรี','ลพบุรี.':'ลพบุรี','ลพบุรี\xa0':'ลพบุรี','ลอง':'แพร่',
                                         'ลาดกระบัง':'กรุงเทพมหานคร','ลาดพร้าว':'กรุงเทพมหานคร','ลาว':'ไม่มีข้อมูล','ลำพูน\u200b':'ลำพูน','ลำพููน':'ลำพูน','ลำลูกกา':'ปทุมธานี','วังชิ้น':'ลำปาง','วังทอง':'พิษณุโลก',
                                         'วิเศษชัยชาญ':'อ่างทอง','ศรีษะสะเกษ':'ศรีสะเกษ','ศรีษะเกษ':'ศรีสะเกษ','ศรีสระเกษ':'ศรีสะเกษ','ศีรสะเกษ':'ศรีสะเกษ','สครสวรรค์':'นครสวรรค์',
                                         'สงขลา\u200b':'สงขลา','สถานที่ทำงาน':'ไม่มีข้อมูล','สพรรณบุรี':'สุพรรณบุรี','สมถทรปราการ':'สมุทรปราการ','สมทรสงคราม':'สมุทรสงคราม','สมทรสาคร':'สมุทรสาคร','สมุครปราการ':'สมุทรปราการ',
                                         'สมุครสาคร':'สมุทรสาคร','สมุท':'ไม่มีข้อมูล','สมุทปราการ':'สมุทรปราการ','สมุทรปรากร':'สมุทรปราการ','สมุทรปรากรร':'สมุทรปราการ','สมุทรปราการ\xa0':'สมุทรปราการ','สมุทรศาคร':'สมุทรสาคร',
                                         'สมุทรสาคร\xa0':'สมุทรสาคร','สมุทรสาคา':'สมุทรสาคร','สมุทรสาคาร':'สมุทรสาคร','สมุทรสาทร':'สมุทรสาคร','สมุทรสารคร':'สมุทรสาคร','สมุทราปราการ':'สมุทรปราการ',
                                         'สมุทราสาคร':'สมุทรสาคร','สมุทสงคราม':'สมุทรสงคราม','สมุทสาคร':'สมุทรสาคร','สมุย':'สุราษฎร์ธานี','สมุุทรปราการ':'สมุทรปราการ','สมุุทรสงคราม':'สมุทรสงคราม','สมุุทรสาคร':'สมุทรสาคร',
                                         'สระก้ว':'สระแก้ว','สระบุรี\xa0':'สระบุรี','สรินทร์':'สุรินทร์','สวิสเซอร์แลนด์':'ไม่มีข้อมูล','สอง':'แพร่','สองแคว':'น่าน','สะพานสูง':'กรุงเทพมหานคร',
                                         'สะแก้ว':'สระแก้ว','สัตหีบ':'ชลบุรี','สัมผัสผู้ป่วยยืนยัน COVID20':'ไม่มีข้อมูล','สามุทรสาคร':'สมุทรสาคร','สารคาม':'มหาสารคาม','สารภี':'เชียงใหม่','สิงห์บุรี\xa0':'สิงห์บุรี',
                                         'สุทรปราการ':'สมุทรปราการ','สุพรรญบุรี':'สุพรรณบุรี','สุพรรณบุรั':'สุพรรณบุรี','สุพรรณบุรี\xa0':'สุพรรณบุรี','สุมทรปราการ':'สมุทรปราการ',
                                         'สุมทรสาคร':'สมุทรสาคร','สุมุทรปราการ':'สมุทรปราการ','สุมุทรสาคร':'สมุทรสาคร','สุระบุรี':'สระบุรี','สุราษ':'สุราษฎร์ธานี','สุราษฎณ์ธานี':'สุราษฎร์ธานี','สุราษฎธานี':'สุราษฎร์ธานี',
                                         'สุราษฎร์':'สุราษฎร์ธานี','สุราษฎร์ฯ':'สุราษฎร์ธานี','สุราษฎร์์ธานี':'สุราษฎร์ธานี','สุราษฎ์ธานี':'สุราษฎร์ธานี','สุราษฏร์ธานี':'สุราษฎร์ธานี','สุราษธานี':'สุราษฎร์ธานี',
                                         'สุราษร์ฎธานี':'สุราษฎร์ธานี','สุราษร์ธานี':'สุราษฎร์ธานี','สุราษฯ':'สุราษฎร์ธานี','สุรินทรื':'สุรินทร์','สุรินทร์ 32150':'สุรินทร์','สุรินทร์,รีสะเกษ':'สุรินทร์','สุรินทร์\xa0':'สุรินทร์','สุริมทร์':'สุรินทร์',
                                         'สุริะแก้ว':'สระแก้ว','สุวรรณภูมิ':'สมุทรปราการ','สุุพรรณบุรี':'สุพรรณบุรี','สุุราษฎร์ธานี':'สุราษฎร์ธานี','สุุราษฏร์ธานี':'สุราษฎร์ธนี','สุุราษฯ':'สุราษฎร์ธนี','สุุรินทร์':'สุรินทร์',
                                         'สุุุโขทัย':'สุโขทัย','สุโขทับ':'สุโขทัย','สุโขทัย\xa0':'สุโขทัย','สูงเม่น':'แพร่','หนวงบัวลำภู':'หนองบัวลำภู','หนองงคาย':'หนองคาย','หนองบัวภู':'หนองบัวลำภู',
                                         'หนองบัวลำพูน':'หนองบัวลำภู','หนองบัวลําภู':'หนองบัวลำภู','หนองบััวลำภู':'หนองบัวลำภู','หนองม่วงไข่':'แพร่','หนอบัวลำภู':'หนองบัวลำภู','หลายจังหวัด':'ไม่มีข้อมูล','หัวหิน':'ประจวบคีรีขันธ์',
                                         'ห้วยขวาง':'กรุงเทพมหานคร','อยุทธยา':'พระนครศรีอยุธยา','อยุธยา':'พระนครศรีอยุธยา','อยุุธยา':'พระนครศรีอยุธยา','อำนาจเจิญ':'อำนาจเจริญ','อำนาญเจริญ':'อำนาจเจริญ','อำนาเจริญ':'อำนาจเจริญ',
                                         'อิสราเอล':'ไม่มีข้อมูล','อุดธานี':'อุดรธานี','อุดร':'อุดรธานี','อุดรธาณี':'อุดรธานี','อุดรธานี\xa0':'อุดรธานี','อุดรธานีี':'อุดรธานี','อุดรราชธานี':'อุดรธานี','อุตรดิตถ์\xa0':'อุตรดิตถ์',
                                         'อุตรดิตถ์์':'อุตรดิตถ์','อุตรดิษถ์':'อุตรดิตถ์','อุตรดิิตถ์':'อุตรดิตถ์','อุตรติดถ์':'อุตรดิตถ์','อุบลราขธานี':'อุบลราชธานี','อุบลราชธานี\xa0':'อุบลราชธานี','อุุครดิตถ์':'อุตรดิตถ์',
                                         'อุุดรธาน':'อุดรธานี','อุุดรธานี':'อุดรธานี','อุุตรดิตถ์':'อุตรดิตถ์','อุุทัยธานี':'อุทัยธานี','อุุบลราชธานี':'อุบลราชธานี','อ่งทอง':'อ่างทอง','อ่างทอง\xa0':'อ่างทอง','อํานาจเจริญ':'อำนาจเจริญ',
                                         'เชิงเทรา':'ฉะเชิงเทรา','เชียรใหญ่':'นครศรีธรรมราช','เชีียงราย':'เชียงราย','เชีียงใหม่':'เชียงใหม่','เด่นชัย':'แพร่','ฉวาง':'ไม่มีข้อมูล','พระพรหม':'ไม่มีข้อมูล',
                                         'เพขรบุรี':'เพชรบูรณ์','เพขรบูรณื':'เพชรบูรณ์','เพขรบูรณ์':'เพชรบูรณ์','เพชรบุรณ์':'เพชรบูรณ์','เพชรบุรี':'เพชรบูรณ์','เพชรบุรึ':'เพชรบูรณ์','เพชรบุุรี':'เพชรบูรณ์','เพชรบุูรณ์':'เพชรบูรณ์','เพชรบูรณ์\xa0':'เพชรบูรณ์',
                                         'เพชรบูร์':'เพชรบูรณ์','เพชรบููรณ์':'เพชรบูรณ์','เมือง':'แพร่','เมืองตาก':'ตาก','เมืองน่าน':'น่าน','เมืองปัตตานี':'ปัตตานี','เรือ':'เลย','เลย\xa0':'เลย','เวียงจันทร์':'ไม่มีข้อมูล','เวียงสา':'น่าน','แม่ทะ':'ลำปาง',
                                         'แล้วป่วย':'ไม่มีข้อมูล','โพธิ์ทอง':'อ่างทอง','ไชโย':'อ่างทอง','ไม่มีข้อมูล':'ไม่มีข้อมูล','ไม่มีชื่อหอพัก':'ไม่มีข้อมูล','ไม่ระบุ':'ไม่มีข้อมูล','สมุทรปรากา':'สมุทรปราการ'}, inplace=True)#

In [ ]:
set(data_covid_all['province_of_onset'])# เรียกดูชุดข้อมูลของ province_of_onset

In [145]:
import datetime

In [168]:
#data_t = pd.DataFrame(data_covid_all)
#data_t['announce_date'] = pd.to_datetime(data_t['announce_date'], format = "%d/%m/%Y")
#data_t['year'] = data_t['announce_date'].dt.year
#data_t['month'] = data_t['announce_date'].dt.month

# ข้อมูลภูมิภาค

ใช้ Dictionary(row oriented) วิธีที่ 1 ของอาจารย์

In [157]:
data_list = [   {'จังหวัด':'อำนาจเจริญ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'บึงกาฬ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'บุรีรัมย์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'ชัยภูมิ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'กาฬสินธุ์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ขอนแก่น','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'เลย','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'มหาสารคาม','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'มุกดาหาร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'นครพนม','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'นครราชสีมา','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'หนองบัวลำภู','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'หนองคาย','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ร้อยเอ็ด','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'สกลนคร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ศรีสะเกษ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'สุรินทร์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'อุบลราชธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'อุดรธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                {'จังหวัด':'ยโสธร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
    #แถวที่ 2
                    {'จังหวัด':'เชียงใหม่','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':' เชียงราย','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'ลำปาง','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'ลำพูน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'แม่ฮ่องสอน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'น่าน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พะเยา','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'แพร่','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'อุตรดิตถ์','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 3
                    {'จังหวัด':'ตาก','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 4
                    {'จังหวัด':'สุโขทัย','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พิษณุโลก','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พิจิตร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'กำแพงเพชร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'เพชรบูรณ์','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 5
                    {'จังหวัด':'นครสวรรค์','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'อุทัยธานี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 6
                    {'จังหวัด':'อ่างทอง','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ชัยนาท','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'พระนครศรีอยุธยา','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'กรุงเทพมหานคร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ลพบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'นครปฐม','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'นนทบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ปทุมธานี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรปราการ','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรสาคร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรสงคราม','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สระบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สิงห์บุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สุพรรณบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
    #แถวที่ 7
                    {'จังหวัด':'นครนายก','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
     #แถวที่ 8
                    {'จังหวัด':'ฉะเชิงเทรา','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'จันทบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ชลบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ปราจีนบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ระยอง','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'สระแก้ว','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ตราด','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
    #แถวที่ 9
                    {'จังหวัด':'กาญจนบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ราชบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
    #แถวที่ 10
                    {'จังหวัด':'เพชรบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ประจวบคีรีขันธ์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
     #แถวที่ 11
                    {'จังหวัด':'ชุมพร','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'นครศรีธรรมราช','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'นราธิวาส','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ปัตตานี','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'พัทลุง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สงขลา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สุราษฎร์ธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ยะลา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
    #แถวที่ 12               
                    {'จังหวัด':'กระบี่','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'พังงา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ภูเก็ต','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ระนอง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สตูล','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ตรัง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},

]

In [ ]:
data_Th = pd.DataFrame(data_list)
data_Th

In [161]:
data_Th2 = data_Th[['จังหวัด','5 ภูมิภาค (การท่องเที่ยว)']]
data_Th2

       จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
0   อำนาจเจริญ        ตะวันออกเฉียงเหนือ
1       บึงกาฬ        ตะวันออกเฉียงเหนือ
2    บุรีรัมย์        ตะวันออกเฉียงเหนือ
3      ชัยภูมิ        ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์        ตะวันออกเฉียงเหนือ
..         ...                       ...
72       พังงา                       ใต้
73      ภูเก็ต                       ใต้
74       ระนอง                       ใต้
75        สตูล                       ใต้
76        ตรัง                       ใต้

[77 rows x 2 columns]

## **ทำการรวมตารางข้อมูลรายงาน COVID-19 ประจำประเทศไทย กับ ตารางข้อมูลภูมิภาค** 

`` โดยเลือกเอาเฉพาะข้อมูลที่สนใจ``

In [174]:
Table1_data = data_covid_all[['No.','sex','age','Unit','nationality']] #ตารางแรกเลือกเอาเฉพาะฟิวด์ No.','sex','age',Unit','nationality 
Table1_data.head() #ดูแถวด้านบน 5 แถวแรก

   No.   sex   age Unit nationality
0    1  หญิง  61.0   ปี       China
1    2  หญิง  74.0   ปี       China
2    3  หญิง  73.0   ปี    Thailand
3    4   ชาย  68.0   ปี       China
4    5  หญิง  66.0   ปี       China

In [175]:
Table2_data = data_covid_all[['No.','announce_date','province_of_onset','risk']] #ตารางสองเลือกเอาเฉพาะฟิวด์ No.','announce_date','year','month','province_of_onset','risk
Table2_data.tail() #ดูแถวด้านล่าง 5 แถวแรก

             No. announce_date province_of_onset              risk
3128785  3353965     20/3/2022       ไม่มีข้อมูล  ทัณฑสถาน/เรือนจำ
3128786  3353966     20/3/2022       ไม่มีข้อมูล  ทัณฑสถาน/เรือนจำ
3128787  3353967     20/3/2022       ไม่มีข้อมูล  ทัณฑสถาน/เรือนจำ
3128788  3353968     20/3/2022       ไม่มีข้อมูล  ทัณฑสถาน/เรือนจำ
3128789  3353969     20/3/2022       ไม่มีข้อมูล  ทัณฑสถาน/เรือนจำ

In [176]:
Table3_data = Table1_data.merge(Table2_data) # นำสองตารางแรกมารวมกันด้วยคำสั่ง merge โดยใช้ฟิวด์No.นำมาเชื่อมกัน
Table3_data.head(10)

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk
0,1,หญิง,61.0,ปี,China,2020-01-12 00:00:00,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,1,หญิง,61.0,ปี,China,2020-01-12 00:00:00,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,1,หญิง,61.0,ปี,China,2020-01-12 00:00:00,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
3,1,หญิง,61.0,ปี,China,2020-01-12 00:00:00,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,2,หญิง,74.0,ปี,China,2020-01-17 00:00:00,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
5,2,หญิง,74.0,ปี,China,2020-01-17 00:00:00,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
6,2,หญิง,74.0,ปี,China,2020-01-17 00:00:00,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
7,2,หญิง,74.0,ปี,China,2020-01-17 00:00:00,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
8,3,หญิง,73.0,ปี,Thailand,2020-01-22 00:00:00,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
9,3,หญิง,73.0,ปี,Thailand,2020-01-22 00:00:00,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ

In [181]:
data_cl = Table3_data.merge(data_Th2,how='right',left_on = 'province_of_onset',right_on = 'จังหวัด')
data_cl.head

<bound method NDFrame.head of                No.   sex   age Unit nationality        announce_date  \
0            973.0   ชาย  48.0   ปี    Thailand  2020-03-26 00:00:00
1            973.0   ชาย  48.0   ปี    Thailand  2020-03-26 00:00:00
2            973.0   ชาย  48.0   ปี    Thailand  2020-03-26 00:00:00
3            973.0   ชาย  48.0   ปี    Thailand  2020-03-26 00:00:00
4           1864.0  หญิง  46.0   ปี    Thailand  2020-04-02 00:00:00
...            ...   ...   ...  ...         ...                  ...
4200027  3350552.0  หญิง  28.0   ปี    Thailand            20/3/2022
4200028  3350553.0  หญิง  53.0   ปี    Thailand            20/3/2022
4200029  3350554.0  หญิง  62.0   ปี    Thailand            20/3/2022
4200030  3350555.0  หญิง  48.0   ปี    Thailand            20/3/2022
4200031  3350556.0   ชาย  50.0   ปี    Thailand            20/3/2022

        province_of_onset                                         risk  \
0              อำนาจเจริญ                                  สถานบันเทิง
1              อำนาจเจริญ                                  สถานบันเทิง
2              อำนาจเจริญ                                  สถานบันเทิง
3              อำนาจเจริญ                                  สถานบันเทิง
4              อำนาจเจริญ                คนไทยเดินทางกลับจากต่างประเทศ
...                   ...                                          ...
4200027              ตรัง  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
4200028              ตรัง                                        อื่นๆ
4200029              ตรัง                                        อื่นๆ
4200030              ตรัง                                        อื่นๆ
4200031              ตรัง  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

            จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
0        อำนาจเจริญ        ตะวันออกเฉียงเหนือ
1        อำนาจเจริญ        ตะวันออกเฉียงเหนือ
2        อำนาจเจริญ        ตะวันออกเฉียงเหนือ
3        อำนาจเจริญ        ตะวันออกเฉียงเหนือ
4        อำนาจเจริญ        ตะวันออกเฉียงเหนือ
...             ...                       ...
4200027        ตรัง                       ใต้
4200028        ตรัง                       ใต้
4200029        ตรัง                       ใต้
4200030        ตรัง                       ใต้
4200031        ตรัง                       ใต้

[4200032 rows x 10 columns]>

ขั้นตอนต่อมาคือ ตรวจดูชุดข้อมูล ในแต่ละฟิวด์ ว่ามีข้อมูลที่ผิดปกติหรือไม่

In [178]:
data_cl.isnull().any()

No.                           True
sex                           True
age                           True
Unit                          True
nationality                   True
announce_date                 True
province_of_onset             True
risk                          True
จังหวัด                      False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

In [179]:
data_cl2 = data_cl.dropna()

In [180]:
data_cl2

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk,จังหวัด,5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,2020-03-26 00:00:00,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,973.0,ชาย,48.0,ปี,Thailand,2020-03-26 00:00:00,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,973.0,ชาย,48.0,ปี,Thailand,2020-03-26 00:00:00,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,973.0,ชาย,48.0,ปี,Thailand,2020-03-26 00:00:00,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02 00:00:00,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...
4200027,3350552.0,หญิง,28.0,ปี,Thailand,20/3/2022,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้
4200028,3350553.0,หญิง,53.0,ปี,Thailand,20/3/2022,ตรัง,อื่นๆ,ตรัง,ใต้
4200029,3350554.0,หญิง,62.0,ปี,Thailand,20/3/2022,ตรัง,อื่นๆ,ตรัง,ใต้
4200030,3350555.0,หญิง,48.0,ปี,Thailand,20/3/2022,ตรัง,อื่นๆ,ตรัง,ใต้
4200031,3350556.0,ชาย,50.0,ปี,Thailand,20/3/2022,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้

In [182]:
before = 4200032
after = 4200030
print(f'before = {before} \nafter = {after}\n which is {((before-after)/before)*100}') #พบว่า เปอร์เซ็น missing ที่ dropna = 4.7618684810020496e-05 ซึ่งมีค่าน้อยมากๆ

before = 4200032
after = 4200030
 which is 4.7618684810020496e-05

In [183]:
data_cl2.isnull().any() # ไม่พบค่า True แล้ว

No.                          False
sex                          False
age                          False
Unit                         False
nationality                  False
announce_date                False
province_of_onset            False
risk                         False
จังหวัด                      False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

**ตรวจดูชุดข้อมูลในแต่ละฟิวด์**

In [184]:
 set(data_cl2['Unit'])

{' วัน', ' เดือน', 'ปี', 'วัน', 'เดือน', 'ไม่มีข้อมูล'}

In [185]:
 set(data_cl2['sex']) #เรียกดูชุดข้อมูลของ ฟิวด์ เพศ สังเกตได้ว่า ไม่ได้มีแค่ ชาย-หญิง

{'ช', 'ชาย', 'ญ', 'นาย', 'ร.ต.ท.', 'หญิง', 'หณิง', 'หห', 'ไม่มีข้อมูล'}

In [188]:
data_cl2.replace({'ปี':'ปี', 'เดือน':'ปี', 'วัน':'ปี', ' เดือน':'ปี', ' วัน':'ปี'},inplace=True) #แทนที่ด้วยค่าที่เหมาะสม

In [189]:
data_cl2.replace({'ชาย':'ชาย', 'หญิง':'หญิง','นาย':'ชาย', 'ร.ต.ท.':'ชาย',
       'ช':'ชาย', 'ญ':'หญิง', 'หณิง':'หญิง', 'หห':'ไม่ระบุ'},inplace=True) #แทนที่ด้วยค่าที่เหมาะสม

In [190]:
data_cl2.head(10)

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk,จังหวัด,5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,2020-03-26 00:00:00,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,973.0,ชาย,48.0,ปี,Thailand,2020-03-26 00:00:00,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,973.0,ชาย,48.0,ปี,Thailand,2020-03-26 00:00:00,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,973.0,ชาย,48.0,ปี,Thailand,2020-03-26 00:00:00,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02 00:00:00,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
5,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02 00:00:00,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
6,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02 00:00:00,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
7,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02 00:00:00,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
8,6493.0,หญิง,37.0,ปี,Thailand,2020-12-30 00:00:00,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
9,6493.0,หญิง,37.0,ปี,Thailand,2020-12-30 00:00:00,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ

## ใช้ข้อมูลตั้งแต่วันที่ 1 มกราคม 2564 ถึง 20 มีนาคม 2565

In [191]:
data_cl3 = data_cl2[(data_cl2['announce_date']>='2021-01-01') & (data_cl2['announce_date']<='2022-03-20')]
data_cl3

TypeError: ignored