<a href="https://colab.research.google.com/github/team0243/data_viz_2022/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project กลุ่ม Therapy Python** 

``ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 20/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง``
``
เริ่มพรีเซ็นต์ 25 มีค 30 มีค 1 เมษา
``

** ที่มาของข้อมูล **

1.ข้อมูลรายงาน COVID-19 ประจำประเทศไทย  

https://data.go.th/dataset/covid-19-daily ประกอบด้วย 4 ชุดข้อมูลได้แก่

1.1 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 มกราคม 2564 ถึงวันที่ 12 สิงหาคม 2564

1.2 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 สิงหาคม 2564 ถึงวันที่ 25 ตุลาคม 2564 

1.3 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 25 ตุลาคม 2564 ถึงวันที่ 27 กุมภาพันธ์ 2565 

1.4 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 28 กุมภาพันธ์ 2565 ถึงวันที่ 20 มีนาคม 2565

2.ข้อมูลในแต่ละภูมิภาคฃ

3.ข้อมูลที่เลือกเอง

# อัพโหลดข้อมูลจาก Drive

In [4]:
import numpy as np

In [5]:
import pandas as pd     # pandas ใช้จัดการข้อมูลที่เป็นตาราง
import os       # os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน

In [6]:
from google.colab import drive      # ชี้ไฟล์ที่อยู่ใน google drive เพื่อเชื่อมต่อไฟล์
drive.mount('/content/drive')
path =  '/content/drive/My Drive/Data_viz_project'    # ชี้ dirve ที่เราต้องการ

Mounted at /content/drive

เตรียมข้อมูลData covid ทั้ง 4 ชุด

ข้อมูลชุดที่ 1  รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 มกราคม 2564 ถึงวันที่ 12 สิงหาคม 2564

In [7]:
data_file_path = os.path.join(path,'confirmed-cases.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid1 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
display(data_covid1.head(2),data_covid1.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

ข้อมูลชุดที่ 2 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 สิงหาคม 2564 ถึงวันที่ 25 ตุลาคม 2564

In [9]:
data_file_path = os.path.join(path,'confirmed-cases-since-120864.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid2 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

In [10]:
display(data_covid2.head(2),data_covid2.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

ข้อมูลชุดที่ 3 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 25ตุลาคม 2564 ถึงวันที่ 27 กุมภาพันธ์ 2565

In [11]:
data_file_path = os.path.join(path,'confirmed-cases-since-271064.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid3 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
display(data_covid3.head(2),data_covid3.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

ข้อมูลชุดที่ 4 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 28 กุมภาพันธ์ 2565 ถึงวันที่ 20 มีนาคม 2565

In [13]:
data_file_path = os.path.join(path,'confirmed-cases-since-280265.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid4 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

In [14]:
display(data_covid4.head(2),data_covid4.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
484351,3353968,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
484352,3353969,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

ขั้นตอนถัดไป คือ การรวมข้อมูลารางทั้ง 4 ชุด เข้าด้วยกัน และจัดเรียงตามลำดับก่อน-หลัง

In [15]:
data_covid_all =pd.concat([data_covid1,data_covid2,data_covid3,data_covid4], ignore_index=True)
data_covid_all

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3376746,3353965,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3376747,3353966,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3376748,3353967,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3376749,3353968,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3376750,3353969,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

เช็คดู ค่า Missing

In [16]:
data_covid_all.isnull() #เช็คดูค่า Missing ทั้งหมด ใน Data frame

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,False,False,True,False,False,False,False,False,False,False,True,True
1,False,False,True,False,False,False,False,False,False,False,True,True
2,False,False,True,False,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,False,False,False,False,True,True
4,False,False,True,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
3376746,False,False,False,False,True,True,True,False,False,True,True,True
3376747,False,False,False,False,True,True,True,False,False,True,True,True
3376748,False,False,False,False,True,True,True,False,False,True,True,True
3376749,False,False,False,False,True,True,True,False,False,True,True,True
3376750,False,False,False,False,True,True,True,False,False,True,True,True

In [17]:
data_covid_all.isnull() .any() # เช็คดูค่า Missing ในแต่ละ คอลัมป์

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

ขั้นตอนต่อมาคือการทำความสะอาดข้อมูล Data cleanning

**1.เลือกเฉพาะฟิวด์ที่ใช้ ได้แก่ announce_date,	sex,	age	,Unit,	nationality risk	และ province_of_onset**

In [18]:
data_p1 = data_covid_all[['No.','announce_date','sex','age','Unit','nationality','province_of_onset','risk']]
data_p1

,No.,announce_date,sex,age,Unit,nationality,province_of_onset,risk
0,1,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...,...
3376746,3353965,20/3/2022,ชาย,NaN,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376747,3353966,20/3/2022,ชาย,NaN,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376748,3353967,20/3/2022,ชาย,NaN,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376749,3353968,20/3/2022,ชาย,NaN,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376750,3353969,20/3/2022,ชาย,NaN,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ

**2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ**

In [19]:
data_covid2[['age']].mean() # หาค่าเฉลี่ยของอายุ พบว่าอายุเฉลี่ย ประมาณ 35 ปี

age    35.258596
dtype: float64

In [20]:
data_covid2[['age']].describe()

                 age
count  962171.000000
mean       35.258596
std        18.532412
min         0.130000
25%        22.000000
50%        34.000000
75%        48.000000
max       119.000000

In [21]:
 data_p1[['age']] = data_p1[['age']].fillna('35.0') #เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ นั่นคือ 35.0

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [22]:
data_p1.isnull() .any() # พบว่า ฟิวด์ของ age เป็นค่า false แล้ว

No.                  False
announce_date        False
sex                   True
age                  False
Unit                  True
nationality           True
province_of_onset     True
risk                  True
dtype: bool

In [23]:
data_p1

,No.,announce_date,sex,age,Unit,nationality,province_of_onset,risk
0,1,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...,...
3376746,3353965,20/3/2022,ชาย,35.0,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376747,3353966,20/3/2022,ชาย,35.0,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376748,3353967,20/3/2022,ชาย,35.0,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376749,3353968,20/3/2022,ชาย,35.0,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376750,3353969,20/3/2022,ชาย,35.0,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ

**3.เปลี่ยน ข้อมูลในฟิวด์  Unit ที่มีค่าเป็น NaN ให้เป็น คำว่า "ปี"**

In [24]:
 data_p1[['Unit']] = data_p1[['Unit']].fillna('ปี')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [25]:
data_p1.isnull().any()

No.                  False
announce_date        False
sex                   True
age                  False
Unit                 False
nationality           True
province_of_onset     True
risk                  True
dtype: bool

In [26]:
data_p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376751 entries, 0 to 3376750
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   No.                int64
 1   announce_date      object
 2   sex                object
 3   age                object
 4   Unit               object
 5   nationality        object
 6   province_of_onset  object
 7   risk               object
dtypes: int64(1), object(7)
memory usage: 206.1+ MB

4.เปลี่ยน ข้อมูลในฟิวด์ sex  nationality province_of_onset	และrisk ที่มีค่าเป็น NaN ให้เป็น คำว่า "ไม่ระบุ"

In [27]:
 data_p1[['sex']] = data_p1[['sex']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [28]:
 data_p1[['nationality']] = data_p1[['nationality']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [29]:
data_p1[['province_of_onset']] = data_p1[['province_of_onset']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [30]:
 data_p1[['risk']] = data_p1[['risk']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [31]:
data_p1

,No.,announce_date,sex,age,Unit,nationality,province_of_onset,risk
0,1,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...,...
3376746,3353965,20/3/2022,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376747,3353966,20/3/2022,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376748,3353967,20/3/2022,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376749,3353968,20/3/2022,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376750,3353969,20/3/2022,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ

In [32]:
data_p1.isnull().any()

No.                  False
announce_date        False
sex                  False
age                  False
Unit                 False
nationality          False
province_of_onset    False
risk                 False
dtype: bool

✔️**พบว่าไม่มีค่า Missing แล้ว แสดงว่าข้อมูลมีความสะอาดมากขึ้น พอที่จะนำไปวิเคราะห์ต่อในขั้นตอนถัดไปออกแบบและสร้างตาราง pandas dataframe ที่ สามารถนำมาดึงข้อมูลด้วย pandas ได้  ****

In [33]:
data_c = data_p1

# ตารางข้อมูลแต่ละภูมิภาค

ใช้ Dictionary(row oriented) วิธีที่ 1 ของอาจารย์

In [34]:
data_list = [   {'จังหวัด':'อำนาจเจริญ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'บึงกาฬ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'บุรีรัมย์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'ชัยภูมิ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'กาฬสินธุ์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ขอนแก่น','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'เลย','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'มหาสารคาม','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'มุกดาหาร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'นครพนม','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'นครราชสีมา','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'หนองบัวลำภู','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'หนองคาย','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ร้อยเอ็ด','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'สกลนคร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ศรีสะเกษ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'สุรินทร์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'อุบลราชธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'อุดรธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                {'จังหวัด':'ยโสธร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
    #แถวที่ 2
                    {'จังหวัด':'เชียงใหม่','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':' เชียงราย','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'ลำปาง','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'ลำพูน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'แม่ฮ่องสอน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'น่าน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พะเยา','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'แพร่','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'อุตรดิตถ์','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 3
                    {'จังหวัด':'ตาก','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 4
                    {'จังหวัด':'สุโขทัย','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พิษณุโลก','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พิจิตร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'กำแพงเพชร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'เพชรบูรณ์','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 5
                    {'จังหวัด':'นครสวรรค์','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'อุทัยธานี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 6
                    {'จังหวัด':'อ่างทอง','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ชัยนาท','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'พระนครศรีอยุธยา','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'กรุงเทพมหานคร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ลพบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'นครปฐม','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'นนทบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ปทุมธานี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรปราการ','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรสาคร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรสงคราม','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สระบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สิงห์บุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สุพรรณบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
    #แถวที่ 7
                    {'จังหวัด':'นครนายก','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
     #แถวที่ 8
                    {'จังหวัด':'ฉะเชิงเทรา','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'จันทบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ชลบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ปราจีนบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ระยอง','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'สระแก้ว','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ตราด','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
    #แถวที่ 9
                    {'จังหวัด':'กาญจนบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ราชบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
    #แถวที่ 10
                    {'จังหวัด':'เพชรบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ประจวบคีรีขันธ์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
     #แถวที่ 11
                    {'จังหวัด':'ชุมพร','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'นครศรีธรรมราช','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'นราธิวาส','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ปัตตานี','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'พัทลุง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สงขลา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สุราษฎร์ธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ยะลา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
    #แถวที่ 12               
                    {'จังหวัด':'กระบี่','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'พังงา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ภูเก็ต','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ระนอง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สตูล','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ตรัง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},

]

In [35]:
data_Th = pd.DataFrame(data_list)
data_Th

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

**ทำการรวมตารางข้อมูลรายงาน COVID-19 ประจำประเทศไทย กับ ตารางข้อมูลภูมิภาค** 

`` โดยเลือกเอาเฉพาะข้อมูลที่สนใจ``

In [36]:
Table1_data = data_c[['No.','sex','age','Unit','nationality']] #ตารางแรกเลือกเอาเฉพาะฟิวด์ No.','sex','age',Unit','nationality 
Table1_data.head() #ดูแถวด้านบน 5 แถวแรก

   No.   sex   age Unit nationality
0    1  หญิง  61.0   ปี       China
1    2  หญิง  74.0   ปี       China
2    3  หญิง  73.0   ปี    Thailand
3    4   ชาย  68.0   ปี       China
4    5  หญิง  66.0   ปี       China

In [37]:
Table2_data = data_c[['No.','announce_date','province_of_onset','risk']] #ตารางสองเลือกเอาเฉพาะฟิวด์ No.','announce_date','province_of_onset','risk
Table2_data.tail() #ดูแถวด้านล่าง 5 แถวแรก

             No. announce_date province_of_onset              risk
3376746  3353965     20/3/2022           ไม่ระบุ  ทัณฑสถาน/เรือนจำ
3376747  3353966     20/3/2022           ไม่ระบุ  ทัณฑสถาน/เรือนจำ
3376748  3353967     20/3/2022           ไม่ระบุ  ทัณฑสถาน/เรือนจำ
3376749  3353968     20/3/2022           ไม่ระบุ  ทัณฑสถาน/เรือนจำ
3376750  3353969     20/3/2022           ไม่ระบุ  ทัณฑสถาน/เรือนจำ

In [38]:
Table3_data = Table1_data.merge(Table2_data) # นำสองตารางแรกมารวมกันด้วยคำสั่ง merge โดยใช้ฟิวด์No.นำมาเชื่อมกัน
Table3_data.head(10)

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk
0,1,หญิง,61.0,ปี,China,12/1/2020,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,หญิง,74.0,ปี,China,17/1/2020,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,หญิง,73.0,ปี,Thailand,22/1/2020,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,ชาย,68.0,ปี,China,22/1/2020,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,หญิง,66.0,ปี,China,24/1/2020,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
5,6,หญิง,33.0,ปี,China,25/1/2020,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
6,7,หญิง,57.0,ปี,China,26/1/2020,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
7,8,หญิง,73.0,ปี,China,26/1/2020,ประจวบคีรีขันธ์,คนต่างชาติเดินทางมาจากต่างประเทศ
8,9,ชาย,63.0,ปี,China,28/1/2020,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
9,10,หญิง,28.0,ปี,China,28/1/2020,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ

In [39]:
data_cl = Table3_data.merge(data_Th,how='right',left_on = 'province_of_onset',right_on = 'จังหวัด')
data_cl.head(10)

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,26/3/2020,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,1864.0,หญิง,46.0,ปี,Thailand,2/4/2020,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,6493.0,หญิง,37.0,ปี,Thailand,30/12/2020,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,7390.0,หญิง,26.0,ปี,Laos,3/1/2021,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,31038.0,ชาย,38.0,ปี,Thailand,10/4/2021,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
5,31039.0,หญิง,45.0,ปี,Thailand,10/4/2021,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
6,32917.0,ชาย,29.0,ปี,Thailand,12/4/2021,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
7,32918.0,ชาย,29.0,ปี,Thailand,12/4/2021,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
8,36501.0,หญิง,21.0,ปี,Thailand,15/4/2021,อำนาจเจริญ,ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
9,36502.0,หญิง,19.0,ปี,Thailand,15/4/2021,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

## ขั้นตอนต่อมาคือ ตรวจดูชุดข้อมูล ในแต่ละฟิวด์ ว่ามีข้อมูลที่ผิดปกติหรือไม่

**เช็คดูค่า Missing**

In [40]:
data_cl.isnull().any()

No.                           True
sex                           True
age                           True
Unit                          True
nationality                   True
announce_date                 True
province_of_onset             True
risk                          True
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

In [41]:
data_cl2 = data_cl.dropna()

In [42]:
data_cl2

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,26/3/2020,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,1864.0,หญิง,46.0,ปี,Thailand,2/4/2020,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,6493.0,หญิง,37.0,ปี,Thailand,30/12/2020,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,7390.0,หญิง,26.0,ปี,Laos,3/1/2021,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,31038.0,ชาย,38.0,ปี,Thailand,10/4/2021,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2998230,3350552.0,หญิง,28.0,ปี,Thailand,20/3/2022,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2998231,3350553.0,หญิง,53.0,ปี,Thailand,20/3/2022,ตรัง,อื่นๆ,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2998232,3350554.0,หญิง,62.0,ปี,Thailand,20/3/2022,ตรัง,อื่นๆ,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2998233,3350555.0,หญิง,48.0,ปี,Thailand,20/3/2022,ตรัง,อื่นๆ,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2998234,3350556.0,ชาย,50.0,ปี,Thailand,20/3/2022,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [43]:
data_cl2.isnull().any() # ไม่พบค่า True แล้ว

No.                          False
sex                          False
age                          False
Unit                         False
nationality                  False
announce_date                False
province_of_onset            False
risk                         False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

เช็คเปอร์เซ็น missing ที่ dropna

**ตรวจดูชุดข้อมูล**

In [44]:
 set(data_cl2['Unit'])

{' วัน', ' เดือน', 'ปี', 'วัน', 'เดือน'}

In [45]:
 set(data_cl2['sex']) #เรียกดูชุดข้อมูลของ ฟิวด์ เพศ สังเกตได้ว่า ไม่ได้มีแค่ ชาย-หญิง

{'ช', 'ชาย', 'ญ', 'นาย', 'ร.ต.ท.', 'หญิง', 'หณิง', 'หห', 'ไม่ระบุ'}

In [46]:
data_cl2.replace({'ปี':'ปี', 'เดือน':'ปี', 'วัน':'ปี', ' เดือน':'ปี', ' วัน':'ปี'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [47]:
data_cl2.replace({'ชาย':'ชาย', 'หญิง':'หญิง','นาย':'ชาย', 'ร.ต.ท.':'ชาย',
       'ช':'ชาย', 'ญ':'หญิง', 'หณิง':'หญิง', 'หห':'ไม่ระบุ'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [48]:
data_cl2.head(10)

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,26/3/2020,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,1864.0,หญิง,46.0,ปี,Thailand,2/4/2020,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,6493.0,หญิง,37.0,ปี,Thailand,30/12/2020,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,7390.0,หญิง,26.0,ปี,Laos,3/1/2021,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,31038.0,ชาย,38.0,ปี,Thailand,10/4/2021,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
5,31039.0,หญิง,45.0,ปี,Thailand,10/4/2021,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
6,32917.0,ชาย,29.0,ปี,Thailand,12/4/2021,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
7,32918.0,ชาย,29.0,ปี,Thailand,12/4/2021,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
8,36501.0,หญิง,21.0,ปี,Thailand,15/4/2021,อำนาจเจริญ,ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
9,36502.0,หญิง,19.0,ปี,Thailand,15/4/2021,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

# ข้อมูลชุดที่ 3

In [50]:
data_file_path = os.path.join(path,'รายการกิจกรรมท่องเที่ยว.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_01 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

In [53]:
data_01.head(2)

,ID,ชื่อกิจกรรม,ประเภท,รายละเอียด,รูปภาพหน้าปก,หมวดหมู่ Life style,หมวดหมู่ท่องเที่ยว,วันที่เริ่มต้นกิจกรรม,วันที่สิ้นสุดกิจกรรม,กำหนดการ,...,พิกัด Longitude,วิดีโอ,อัตราค่าบริการ,ระยะเวลาของกิจกรรม,กลุ่มเป้าหมาย,Facebook,Line ID,Twitter,การเดินทาง,เพิ่มเติม
0,5486,งานแข่งขันเรือยาวเทศกาลวันออกพรรษา ณ วัดบ้านถ้ำ,กีฬาทางน้ำ,ประเพณีแข่งขันเรือยาว จัดขึ้นในช่วงเทศกาลออกพร...,https://beta001.thailandtourismdirectory.go.th...,NaN,NaN,2021-10-01,2021-11-01,จัดขึ้นทุกปีในช่วงเดือนตุลาคม หรือ วันออกพรรษา...,...,99.578318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"มอเตอร์ไซด์,รถยนต์",NaN
1,5694,งานประเพณีแห่ยักษ์คุอัตลักษณ์จังหวัดอำนาจเจริญ...,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,จังหวัดอำนาจเจริญ โดยสำนักงานการท่องเที่ยวและก...,https://beta001.thailandtourismdirectory.go.th...,ประวัติศาสตร์,อื่นๆ,2021-04-02,2021-04-04,NaN,...,105.001185,NaN,NaN,NaN,"กลุ่มครอบครัว,กลุ่มผู้สูงอายุ,กลุ่มวัยทำงาน,กล...",NaN,NaN,NaN,รถยนต์,NaN

In [55]:
data_02 = data_01[['ID','ชื่อกิจกรรม','ประเภท','รายละเอียด','หมวดหมู่ Life style','วันที่เริ่มต้นกิจกรรม','ตำแหน่งที่ตั้ง','จังหวัด','การเดินทาง','พิกัด Latitude','พิกัด Longitude']]
data_02

,ID,ชื่อกิจกรรม,ประเภท,รายละเอียด,หมวดหมู่ Life style,วันที่เริ่มต้นกิจกรรม,ตำแหน่งที่ตั้ง,จังหวัด,การเดินทาง,พิกัด Latitude,พิกัด Longitude
0,5486,งานแข่งขันเรือยาวเทศกาลวันออกพรรษา ณ วัดบ้านถ้ำ,กีฬาทางน้ำ,ประเพณีแข่งขันเรือยาว จัดขึ้นในช่วงเทศกาลออกพร...,NaN,2021-10-01,"13.9706566, 99.5783176",กาญจนบุรี,"มอเตอร์ไซด์,รถยนต์",13.970657,99.578318
1,5694,งานประเพณีแห่ยักษ์คุอัตลักษณ์จังหวัดอำนาจเจริญ...,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,จังหวัดอำนาจเจริญ โดยสำนักงานการท่องเที่ยวและก...,ประวัติศาสตร์,2021-04-02,"16.233794, 105.001185",อำนาจเจริญ,รถยนต์,16.233794,105.001185
2,5718,เทศกาลผลไม้และของดีจังหวัดระยอง,"กิจกรรมการเรียนรู้,งานดนตรี กีฬา นันทนาการ และ...",เทศกาลผลไม้เเละของดีจังหวัดระยอง เป็นกิจกรรมท...,พักผ่อน,2021-05-29,"12.646523451405, 101.34946993651",ระยอง,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",12.646523,101.349470
3,5720,งานเทศกาลเงาะ-ทุเรียน จังหวัดศรีสะเกษ,"กิจกรรมการเรียนรู้,งานแสดงผลผลิตทางการเกษตรและ...",ณ จังหวัดศรีสะเกษ \r\n\r\n\t การประกวดผลิตผลท...,NaN,2021-06-22,"15.106682, 104.314113",ศรีสะเกษ,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",15.106682,104.314113
4,5721,RIVER KWAI TROPHY ADVENTURE RACE,กีฬาผาดโผน,ณ เฟลิกซ์ริเวอร์แคว รีสอร์ท จังหวัดกาญจนบุรี\r...,การผจญภัย,2021-05-01,"14.0418515, 99.4993573",กาญจนบุรี,รถยนต์,14.041851,99.499357
5,21259,งานประเพณีหวัวบุญเบิกฟ้า ขึ้น 3 ค่ำ เดือน 3,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,งานบุญเบิกฟ้า ช่วงเวลา วันขึ้น ๓ ค่ำ เดือน ๓ ...,ประวัติศาสตร์,2021-03-05,"14.8526624, 103.9844519",ศรีสะเกษ,รถยนต์,14.852662,103.984452
6,21263,ประเพณีแซนโฎนตา บูชาสานหลักเมือง ลือเลื่องกล้ว...,งานเฉลิมพระเกียรติ สดุดีวีรชนและเหตุการณ์สำคัญ...,ประเพณีแซนโฎนตา หรือ สารทเขมร เป็นประเพณีเก่าแ...,NaN,2021-09-15,"14.7137532, 104.198392",ศรีสะเกษ,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",14.713753,104.198392
7,21268,งานบวงสรวงพระยาไกรภักดีศรีนครลำดวน (ตากะจะ),เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธ...,เพื่อแสดงความเคารพพระยาไกรภักดีศรีนครลำดวน (ตา...,NaN,2021-03-09,"14.9324917, 104.2716426",ศรีสะเกษ,"มอเตอร์ไซด์,รถยนต์",14.932492,104.271643
8,21270,งานสืบสานตำนานพันปี ประเพณีไหว้พระธาตุ 15 ค่ำ ...,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธ...,งานสืบสานตำนานพันปี ประเพณีไหว้พระธาตุ 15 ค่ำ ...,ประวัติศาสตร์,2021-01-28,"15.1113757, 104.0231842",ศรีสะเกษ,"จักรยาน,มอเตอร์ไซด์,รถยนต์",15.111376,104.023184
9,21272,ประเพณีบุญคูณลาน อำเภอโนนคูณ,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,ประเพณีบุญคูณลาน เป็นประเพณีการทำบุญ ที่ชาวนาไ...,พักผ่อน,2021-01-25,"14.9037704, 104.6821048",ศรีสะเกษ,"มอเตอร์ไซด์,รถโดยสารประจำทาง,รถยนต์",14.903770,104.682105
10,21278,เทศกาลงานวันหอมแดง อำเภอยางชุมน้อย,"งานดนตรี กีฬา นันทนาการ และการอนุรักษ์,งานแสดง...",เป็นกิจกรรมนำพืชเศรษฐกิจ ผลผลิตหอมแดง กระเทียม...,พักผ่อน,2021-02-12,"15.2618361, 104.4008815",ศรีสะเกษ,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",15.261836,104.400881
11,21279,ประเพณี ทำบุญรวมญาติ ตักบาตรปราสาทเมืองจันทร์,"งานแสดงผลผลิตทางการเกษตรและศิลปหัตถกรรม,เทศกาล...",1. พิธีบวงสรวงพระธาตุ และคาราวะพระเจ้าใหญ่\r\n...,ประวัติศาสตร์,2021-04-01,"15.1569232, 104.0289469",ศรีสะเกษ,"มอเตอร์ไซด์,รถยนต์",15.156923,104.028947
12,21321,เทศกาลข้าวโพดหวาน และของดีศรีรัตนะ,งานแสดงผลผลิตทางการเกษตรและศิลปหัตถกรรม,อําเภอศรีรัตนะ จังหวัดศรีสะเกษ เป็นแหล่งจำหน...,พักผ่อน,2021-06-17,"14.7933548, 104.4697535",ศรีสะเกษ,"จักรยาน,มอเตอร์ไซด์,รถโดยสารประจำทาง,รถยนต์",14.793355,104.469753
13,21383,ประเพณีบุญบั้งไฟอำเภอศิลาลาด,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,กิจกรรมประเพณีบุญบั้งไฟอำเภอศิลาลาดจัดกิจกรรมข...,พักผ่อน,2021-05-01,"15.4728312, 104.071515",ศรีสะเกษ,รถยนต์,15.472831,104.071515
14,21404,งานของดีศรีขุนหาญ(เทศกาลเงาะทุเรียนขุนหาญ),เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,การจัดกิจกรรมแสดงผลผลิตของเกษตรกรอำเภอขุนหาญ,พักผ่อน,2021-06-18,"14.6177869, 104.4237821",ศรีสะเกษ,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",14.617787,104.423782
15,21799,งานเทิดพระเกียติสมเด็จพระนเรศวรมหาราช,งานเฉลิมพระเกียรติ สดุดีวีรชนและเหตุการณ์สำคัญ...,-นิทรรศการเทิดพระเกียรติสมเด็จพระนเรศวรมหาราช\...,ประวัติศาสตร์,2021-01-18,"14.059032396508, 99.681658744812",กาญจนบุรี,รถยนต์,14.059032,99.681659
16,21800,งานประเพณีวันโคบาล,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,-ประกวดธิดาโคบาล\r\n-การประกวดโคพันธ์ต่างๆ\r\n...,NaN,2021-01-11,"14.5963629, 99.7746721",กาญจนบุรี,"รถโดยสารประจำทาง,รถยนต์",14.596363,99.774672
17,21965,"งานโครงการรากวัฒนธรรม ""ของดีบ้านฉัน"" ทวาราวดี ...",เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,-นิทรรศการองค์ความรู้ประวัติศาสตร์ชุมชน/\r\nวิ...,พักผ่อน,2021-02-02,"13.9713678, 99.6356605",กาญจนบุรี,"รถโดยสารประจำทาง,รถยนต์",13.971368,99.635661
18,23018,งานเทศกาลความรัก ณ เขื่อนศรีนครินทร์,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,การจัดงาน เทศกาลความรัก ณ เขื่อนศรีนครินทร์ ที...,พักผ่อน,2021-02-13,"14.4049116, 99.1280098",กาญจนบุรี,รถยนต์,14.404912,99.128010
19,23169,งานบุญเดือนสิบ และลอยเรือสะเดาะเคราะห์ชาวมอญ ส...,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,ประเพณีลอยเรือสะเดาะเคราะห์ชาวมอญ อำเภอสังขละบ...,NaN,2021-09-23,"15.15729624778, 98.44955150038",กาญจนบุรี,รถยนต์,15.157296,98.449551
20,81156,เรือท่องเที่ยว เจ้าพระยาธารา ล่องแม่นำ้เจ้าพระ...,พายเรือแคนู/ล่องเรือ,เรือเจ้าพระยาธารา จะพาทุกท่านดื่มด่ำบรรยากาศสุ...,พักผ่อน,2018-08-27,"15.166203186575, 100.13262845767",ชัยนาท,รถยนต์,15.166203,100.132628
21,97700,แต่งงานปู ณ สะพานรักษ์แสม,"กิจกรรมการเรียนรู้,กีฬาทางน้ำ,งานดนตรี กีฬา นั...",จัดขึ้นในช่วงวันแห่งความรัก 14-16 กุมภาพันธ์ขอ...,พักผ่อน,2021-02-14,"12.717984, 101.656476",ระยอง,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถยนต์,เรือ",12.717984,101.656476
22,97785,ประเพณีสงกรานต์แห่ปราสาทผึ้ง,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,วัดหนองปรือ อ.หนองปรือ จ.กาญจนบุรี\r\n\r\n\t \...,NaN,2021-04-17,"14.611589, 99.453857",กาญจนบุรี,"จักรยาน,มอเตอร์ไซด์,รถโดยสารประจำทาง,รถยนต์",14.611589,99.453857
23,97808,ประเพณีรดน้ำต้นโพธิ์และตลาดนิพพาน,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,เข้าชมและร่วมรดน้ำต้นศรีมหาโพธิ์ ประเพณีที่มีเ...,NaN,2021-05-18,"15.127886, 98.450548",กาญจนบุรี,"จักรยาน,มอเตอร์ไซด์,รถยนต์",15.127886,98.450548
24,97809,กิจกรรมตามประทีปวันวิสาขบูชา,กิจกรรมการเรียนรู้,ตื่นตากับผางประทีปที่ถูกจุดสว่างไสวมากกว่าหมื่...,NaN,2021-05-18,"14.741984, 98.637443",กาญจนบุรี,"มอเตอร์ไซด์,รถโดยสารประจำทาง,รถยนต์",14.741984,98.637443
25,98119,ล่องเรือแก่หลวง,พายเรือแคนู/ล่องเรือ,แก่งหลวง เป็นบริเวณที่แม่น้ำยมไหลมารวมตัวกันจน...,การผจญภัย,2019-10-01,"18.8697368, 100.2542901",พะเยา,"จักรยาน,มอเตอร์ไซด์,รถยนต์",18.869737,100.254290
26,98781,งานประเพณีแห่ดาว อำเภอไทยเจริญ,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,งานประเพณีแห่ดาว อำเภอไทยเจริญ คริสต์ศาสนิกชนบ...,NaN,2020-12-21,"0, 0",ยโสธร,รถยนต์,0.000000,0.000000
27,99110,หนาวดีดีที่บึงกาฬ,"งานแสดงผลผลิตทางการเกษตรและศิลปหัตถกรรม,เทศกาล...",เป็นการจัดงานเทศกาลส่งท้ายปีเก่าต้อนรับปีใหม่ ...,NaN,2020-12-01,"15.870032, 100.992541",บึงกาฬ,รถยนต์,15.870032,100.992541
28,99457,แสง สี รัตติกาล เสน่ห์สีสันแห่งลำพูน Night Lig...,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธ...,แสง สี รัตติกาล เสน่ห์สีสันแห่งลำพูน Night Lig...,NaN,2020-10-09,"18.579870586157, 99.009625911713",ลำพูน,"จักรยาน,มอเตอร์ไซด์,รถโดยสารประจำทาง,รถยนต์",18.579871,99.009626
29,99508,เทศกาลประเพณีวันไหลสงกรานต์ บ้านเพ,"กิจกรรมการเรียนรู้,งานดนตรี กีฬา นันทนาการ และ...",เทศกาลประเพณีวันไหลสงกรานต์ จัดขึ้นโดยเทศบาลต...,พักผ่อน,2021-04-11,"12.6286823, 101.4399387",ระยอง,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",12.628682,101.439939
30,99509,งานทำบุญข้าวใหม่เดือนสาม เผาข้าวหลามชากบก,"กิจกรรมการเรียนรู้,งานดนตรี กีฬา นันทนาการ และ...","งานประเพณีทำบุญข้าวใหม่ หรือที่เรียกกันว่า""บุญ...",พักผ่อน,2021-03-11,"12.7884195, 101.3422241",ระยอง,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",12.788419,101.342224
31,99510,งานประเพณีวิ่งควาย ระยอง,"กิจกรรมการเรียนรู้,กีฬาผาดโผน,แข่งกีฬาผสมผสาน,...",งานประเพรีวิ่งควาย จัดขึ้นเป็นประจำทุกปี ณ สี...,พักผ่อน,2021-10-21,"12.9726642, 101.2173146",ระยอง,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",12.972664,101.217315
32,99511,งานประเพณีสงกรานต์ ระยอง,"กิจกรรมการเรียนรู้,งานดนตรี กีฬา นันทนาการ และ...",งานประเพณีสงกรานต์ ระยอง ณ บริเวณหอพระพุทธอังค...,พักผ่อน,2021-04-11,"12.6827573, 101.1788652",ระยอง,"จักรยาน,เดินเท้า,รถโดยสารประจำทาง,รถยนต์",12.682757,101.178865
33,99512,เทศกาลถนนผลไม้อำเภอวังจันทร์,"กิจกรรมการเรียนรู้,กีฬาผาดโผน,แข่งกีฬาผสมผสาน,...",เทศกาลถนนผลไม้ จัดขึ้นเป็นประจำทุกปี ณ บริเวณต...,พักผ่อน,2021-06-05,"12.883632, 101.557714",ระยอง,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",12.883632,101.557714
34,99572,คุณทองโบราณ โรตารี มาราธอน 2021,งานดนตรี กีฬา นันทนาการ และการอนุรักษ์,วิ่งคุณทองโบราณ โรตารี มาราธอน 2021\r\nในวันอา...,พักผ่อน,2021-02-14,"17.4057199, 102.8002466",อุดรธานี,"มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,รถไฟ,รถยนต์",17.405720,102.800247
35,99739,งานเฉลิมพระเกียรติพระบาทสมเด็จพระพุทธเลิศหล้าน...,งานเฉลิมพระเกียรติ สดุดีวีรชนและเหตุการณ์สำคัญ...,ขอเชิญเฝ้าทูลละอองพระบาท สมเด็จพระกนิษฐาธิราชเ...,NaN,2021-02-06,"13.42598, 99.95223",สมุทรสงคราม,"รถโดยสารประจำทาง,รถยนต์,เรือ",13.425980,99.952230
36,99770,งานมหกรรมไม้ดอกอาเซียนเชียงราย 2020,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,จังหวัดเชียงราย องค์การบริหารส่วนจังหวัดเชียงร...,พักผ่อน,2020-12-25,"19.9240071, 99.823795",เชียงราย,"จักรยาน,มอเตอร์ไซด์,รถยนต์",19.924007,99.823795
37,99956,งานแสดงสินค้าอัญมณีและเครื่องประดับ ครั้งที่ 66,"งานแสดงผลผลิตทางการเกษตรและศิลปหัตถกรรม,ศิลปะก...",Bangkok Gems & Jewelry Fair (BGJF) ครั้งที่ 66...,NaN,2021-02-23,"13.91298, 100.54652",นนทบุรี,"มอเตอร์ไซด์,รถโดยสารประจำทาง,รถยนต์",13.912980,100.546520
38,99957,HSBC BWF World Tour Finals 2020,งานดนตรี กีฬา นันทนาการ และการอนุรักษ์,HSBC BWF World Tour Finals 2020 เป็นงานที่ทางส...,NaN,2021-01-27,"13.91177, 100.54836",นนทบุรี,"มอเตอร์ไซด์,รถไฟฟ้า (BTS),รถโดยสารประจำทาง,รถยนต์",13.911770,100.548360
39,100016,ฉลองอนุสาวรีย์ปราบฮ่อใต้ร่มพระบารมี 194 ปี เมื...,งานเฉลิมพระเกียรติ สดุดีวีรชนและเหตุการณ์สำคัญ...,ขอเชิญเที่ยวงาน...\r\n“ฉลองอนุสาวรีย์ปราบฮ่อใต...,ประวัติศาสตร์,2021-03-05,"17.879899239493, 102.74060984078",หนองคาย,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",17.879899,102.740610
40,100017,ทุ่งดอกทานตะวันหาดคำ เทศบาลตำบลหาดคำ อ.เมือง จ...,งานแสดงผลผลิตทางการเกษตรและศิลปหัตถกรรม,ทุ่งดอกทานตะวันกำลังจะเบ่งบาน เพื่อรอต้อนรับนั...,พักผ่อน,2021-02-19,"17.928966707678, 102.79130458832",หนองคาย,"จักรยาน,มอเตอร์ไซด์,รถยนต์",17.928967,102.791305
41,100018,Thailand Holiday & Leisure EXPO – Part 2,งานดนตรี กีฬา นันทนาการ และการอนุรักษ์,นิทรรศการเกี่ยวกับสถานที่ท่องเที่ยว การท่องเที...,NaN,2021-06-17,"13.91515, 100.55142",นนทบุรี,"รถโดยสารประจำทาง,รถยนต์",13.915150,100.551420
42,100019,งาน Smart SME Expo 2021,"กิจกรรมการเรียนรู้,งานดนตรี กีฬา นันทนาการ และ...",งาน Smart SME Expo 2021 เป็นงานรวมสุดยอดธุรกิจ...,NaN,2021-07-01,"13.91147, 100.54985",นนทบุรี,"รถโดยสารประจำทาง,รถยนต์",13.911470,100.549850
43,100041,รำบวงสรวงศาลเทพารักษ์ ประจำปี 2564,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,ศาลเทพารักษ์ เป็นสถานที่ศักดิ์สิทธิ์คู่บ้านคู่...,ประวัติศาสตร์,2021-03-05,"17.4224042, 102.7780739",อุดรธานี,"จักรยาน,มอเตอร์ไซด์,รถโดยสารประจำทาง,รถไฟ,รถยนต์",17.422404,102.778074
44,100095,เที่ยวง่าย ใกล้บ้าน ภาคกลางตะวันตก,"กิจกรรมการเรียนรู้,งานดนตรี กีฬา นันทนาการ และ...",เที่ยวง่าย ใกล้บ้าน ภาคกลางตะวันตก เป็นงานที่จ...,NaN,2021-03-17,"13.87679, 100.41097",นนทบุรี,"มอเตอร์ไซด์,รถไฟฟ้าใต้ดิน (MRT),รถโดยสารประจำท...",13.876790,100.410970
45,100159,กิจกรรมเดินป่าหน้าฝนบนภูหลวง,กิจกรรมการเรียนรู้,เดินเที่ยวชมผืนป่า ดอกไม้ป่าต่าง ๆ ที่เขตรักษา...,การผจญภัย,2021-08-01,"17.362435223379, 101.50543212891",เลย,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",17.362435,101.505432
46,100160,งานประเพณี ปีใหม่ม้ง,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,วันดา หรือ แรม 12 ค่ำ เดือน 1 ชาวม้งจะมีการเตร...,ประวัติศาสตร์,2020-12-01,"17.054568748095, 101.17242401839",เลย,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",17.054569,101.172424

เช็คค่า Missing

In [57]:
data_02.isnull().any() # พบว่า ฟิวด์หมวดหมู่ Life style มีค่า NaN

ID                       False
ชื่อกิจกรรม              False
ประเภท                   False
รายละเอียด               False
หมวดหมู่ Life style       True
วันที่เริ่มต้นกิจกรรม    False
ตำแหน่งที่ตั้ง           False
จังหวัด                  False
การเดินทาง               False
พิกัด Latitude           False
พิกัด Longitude          False
dtype: bool

 ในฟิวด์ หมวดหมู่ Life style ทำการแทนที่ค่า Missing ดังนี้

In [58]:
data_02[['หมวดหมู่ Life style']] = data_02[['หมวดหมู่ Life style']].fillna('อื่นๆ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [59]:
data_02.tail(5)

,ID,ชื่อกิจกรรม,ประเภท,รายละเอียด,หมวดหมู่ Life style,วันที่เริ่มต้นกิจกรรม,ตำแหน่งที่ตั้ง,จังหวัด,การเดินทาง,พิกัด Latitude,พิกัด Longitude
42,100019,งาน Smart SME Expo 2021,"กิจกรรมการเรียนรู้,งานดนตรี กีฬา นันทนาการ และ...",งาน Smart SME Expo 2021 เป็นงานรวมสุดยอดธุรกิจ...,อื่นๆ,2021-07-01,"13.91147, 100.54985",นนทบุรี,"รถโดยสารประจำทาง,รถยนต์",13.911470,100.549850
43,100041,รำบวงสรวงศาลเทพารักษ์ ประจำปี 2564,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,ศาลเทพารักษ์ เป็นสถานที่ศักดิ์สิทธิ์คู่บ้านคู่...,ประวัติศาสตร์,2021-03-05,"17.4224042, 102.7780739",อุดรธานี,"จักรยาน,มอเตอร์ไซด์,รถโดยสารประจำทาง,รถไฟ,รถยนต์",17.422404,102.778074
44,100095,เที่ยวง่าย ใกล้บ้าน ภาคกลางตะวันตก,"กิจกรรมการเรียนรู้,งานดนตรี กีฬา นันทนาการ และ...",เที่ยวง่าย ใกล้บ้าน ภาคกลางตะวันตก เป็นงานที่จ...,อื่นๆ,2021-03-17,"13.87679, 100.41097",นนทบุรี,"มอเตอร์ไซด์,รถไฟฟ้าใต้ดิน (MRT),รถโดยสารประจำท...",13.876790,100.410970
45,100159,กิจกรรมเดินป่าหน้าฝนบนภูหลวง,กิจกรรมการเรียนรู้,เดินเที่ยวชมผืนป่า ดอกไม้ป่าต่าง ๆ ที่เขตรักษา...,การผจญภัย,2021-08-01,"17.362435223379, 101.50543212891",เลย,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",17.362435,101.505432
46,100160,งานประเพณี ปีใหม่ม้ง,เทศกาล งานประเพณี ความเชื่อ ศาสนา และศิลปวัฒนธรรม,วันดา หรือ แรม 12 ค่ำ เดือน 1 ชาวม้งจะมีการเตร...,ประวัติศาสตร์,2020-12-01,"17.054568748095, 101.17242401839",เลย,"จักรยาน,มอเตอร์ไซด์,เดินเท้า,รถโดยสารประจำทาง,...",17.054569,101.172424

In [ ]:
data_02['วันที่เริ่มต้นกิจกรรม']

In [67]:
data_02['วันที่เริ่มต้นกิจกรรม'] =pd.to_datetime(data_02.วันที่เริ่มต้นกิจกรรม,format='%d/%m/%Y')

ValueError: ignored

In [66]:
data_02['วันที่เริ่มต้นกิจกรรม'].strftime('%d/%m/%y')

AttributeError: ignored