<a href="https://colab.research.google.com/github/team0243/data_viz_2022/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project กลุ่ม Therapy Python** 

``ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 20/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง``
``
เริ่มพรีเซ็นต์ 25 มีค 30 มีค 1 เมษา
``

** ที่มาของข้อมูล **

1.ข้อมูลรายงาน COVID-19 ประจำประเทศไทย  

https://data.go.th/dataset/covid-19-daily ประกอบด้วย 4 ชุดข้อมูลได้แก่

1.1 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 มกราคม 2564 ถึงวันที่ 12 สิงหาคม 2564

1.2 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 สิงหาคม 2564 ถึงวันที่ 25 ตุลาคม 2564 

1.3 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 25 ตุลาคม 2564 ถึงวันที่ 27 กุมภาพันธ์ 2565 

1.4 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 28 กุมภาพันธ์ 2565 ถึงวันที่ 20 มีนาคม 2565

2.ข้อมูลในแต่ละภูมิภาคฃ

3.ข้อมูลที่เลือกเอง

# อัพโหลดข้อมูลจาก Drive

In [1]:
import numpy as np

In [2]:
import pandas as pd     # pandas ใช้จัดการข้อมูลที่เป็นตาราง
import os       # os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน

In [3]:
from google.colab import drive      # ชี้ไฟล์ที่อยู่ใน google drive เพื่อเชื่อมต่อไฟล์
drive.mount('/content/drive')
path =  '/content/drive/My Drive/Data_viz_project'    # ชี้ dirve ที่เราต้องการ

Mounted at /content/drive

เตรียมข้อมูลData covid ทั้ง 4 ชุด

ข้อมูลชุดที่ 1  รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 มกราคม 2564 ถึงวันที่ 12 สิงหาคม 2564

In [5]:
data_file_path = os.path.join(path,'confirmed-cases.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid1 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
display(data_covid1.head(2),data_covid1.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

ข้อมูลชุดที่ 2 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 สิงหาคม 2564 ถึงวันที่ 25 ตุลาคม 2564

In [7]:
data_file_path = os.path.join(path,'confirmed-cases-since-120864.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid2 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

In [8]:
display(data_covid2.head(2),data_covid2.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

ข้อมูลชุดที่ 3 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 25ตุลาคม 2564 ถึงวันที่ 27 กุมภาพันธ์ 2565

In [9]:
data_file_path = os.path.join(path,'confirmed-cases-since-271064.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid3 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
display(data_covid3.head(2),data_covid3.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

ข้อมูลชุดที่ 4 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 28 กุมภาพันธ์ 2565 ถึงวันที่ 20 มีนาคม 2565

In [11]:
data_file_path = os.path.join(path,'confirmed-cases-since-280265.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid4 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

In [12]:
display(data_covid4.head(2),data_covid4.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
484351,3353968,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
484352,3353969,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

ขั้นตอนถัดไป คือ การรวมข้อมูลารางทั้ง 4 ชุด เข้าด้วยกัน และจัดเรียงตามลำดับก่อน-หลัง

In [13]:
data_covid_all =pd.concat([data_covid1,data_covid2,data_covid3,data_covid4], ignore_index=True)
data_covid_all

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3376746,3353965,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3376747,3353966,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3376748,3353967,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3376749,3353968,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3376750,3353969,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

เช็คดู ค่า Missing

In [14]:
data_covid_all.isnull() #เช็คดูค่า Missing ทั้งหมด ใน Data frame

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,False,False,True,False,False,False,False,False,False,False,True,True
1,False,False,True,False,False,False,False,False,False,False,True,True
2,False,False,True,False,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,False,False,False,False,True,True
4,False,False,True,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
3376746,False,False,False,False,True,True,True,False,False,True,True,True
3376747,False,False,False,False,True,True,True,False,False,True,True,True
3376748,False,False,False,False,True,True,True,False,False,True,True,True
3376749,False,False,False,False,True,True,True,False,False,True,True,True
3376750,False,False,False,False,True,True,True,False,False,True,True,True

In [15]:
data_covid_all.isnull() .any() # เช็คดูค่า Missing ในแต่ละ คอลัมป์

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

ขั้นตอนต่อมาคือการทำความสะอาดข้อมูล Data cleanning

**1.เลือกเฉพาะฟิวด์ที่ใช้ ได้แก่ announce_date,	sex,	age	,Unit,	nationality risk	และ province_of_onset**

In [16]:
data_p1 = data_covid_all[['No.','announce_date','sex','age','Unit','nationality','province_of_onset','risk']]
data_p1

,No.,announce_date,sex,age,Unit,nationality,province_of_onset,risk
0,1,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...,...
3376746,3353965,20/3/2022,ชาย,NaN,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376747,3353966,20/3/2022,ชาย,NaN,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376748,3353967,20/3/2022,ชาย,NaN,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376749,3353968,20/3/2022,ชาย,NaN,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376750,3353969,20/3/2022,ชาย,NaN,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ

**2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ**

In [17]:
data_covid2[['age']].mean() # หาค่าเฉลี่ยของอายุ พบว่าอายุเฉลี่ย ประมาณ 35 ปี

age    35.258596
dtype: float64

In [18]:
data_covid2[['age']].describe()

                 age
count  962171.000000
mean       35.258596
std        18.532412
min         0.130000
25%        22.000000
50%        34.000000
75%        48.000000
max       119.000000

In [19]:
 data_p1[['age']] = data_p1[['age']].fillna('35.0') #เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ นั่นคือ 35.0

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [20]:
data_p1.isnull() .any() # พบว่า ฟิวด์ของ age เป็นค่า false แล้ว

No.                  False
announce_date        False
sex                   True
age                  False
Unit                  True
nationality           True
province_of_onset     True
risk                  True
dtype: bool

In [21]:
data_p1

,No.,announce_date,sex,age,Unit,nationality,province_of_onset,risk
0,1,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...,...
3376746,3353965,20/3/2022,ชาย,35.0,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376747,3353966,20/3/2022,ชาย,35.0,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376748,3353967,20/3/2022,ชาย,35.0,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376749,3353968,20/3/2022,ชาย,35.0,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
3376750,3353969,20/3/2022,ชาย,35.0,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ

**3.เปลี่ยน ข้อมูลในฟิวด์  Unit ที่มีค่าเป็น NaN ให้เป็น คำว่า "ปี"**

In [22]:
 data_p1[['Unit']] = data_p1[['Unit']].fillna('ปี')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [23]:
data_p1.isnull().any()

No.                  False
announce_date        False
sex                   True
age                  False
Unit                 False
nationality           True
province_of_onset     True
risk                  True
dtype: bool

In [24]:
data_p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376751 entries, 0 to 3376750
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   No.                int64
 1   announce_date      object
 2   sex                object
 3   age                object
 4   Unit               object
 5   nationality        object
 6   province_of_onset  object
 7   risk               object
dtypes: int64(1), object(7)
memory usage: 206.1+ MB

4.เปลี่ยน ข้อมูลในฟิวด์ sex  nationality province_of_onset	และrisk ที่มีค่าเป็น NaN ให้เป็น คำว่า "ไม่ระบุ"

In [25]:
 data_p1[['sex']] = data_p1[['sex']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [26]:
 data_p1[['nationality']] = data_p1[['nationality']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [27]:
data_p1[['province_of_onset']] = data_p1[['province_of_onset']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [28]:
 data_p1[['risk']] = data_p1[['risk']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [29]:
data_p1

,No.,announce_date,sex,age,Unit,nationality,province_of_onset,risk
0,1,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...,...
3376746,3353965,20/3/2022,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376747,3353966,20/3/2022,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376748,3353967,20/3/2022,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376749,3353968,20/3/2022,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376750,3353969,20/3/2022,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ

In [30]:
import datetime

In [31]:
data_t = pd.DataFrame(data_p1)
data_t['announce_date'] = pd.to_datetime(data_t['announce_date'], format = "%d/%m/%Y")
data_t['year'] = data_t['announce_date'].dt.year
data_t['month'] = data_t['announce_date'].dt.month

In [32]:
data_t

,No.,announce_date,sex,age,Unit,nationality,province_of_onset,risk,year,month
0,1,2020-01-12,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,2020,1
1,2,2020-01-17,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,2020,1
2,3,2020-01-22,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,2020,1
3,4,2020-01-22,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,2020,1
4,5,2020-01-24,หญิง,66.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,2020,1
...,...,...,...,...,...,...,...,...,...,...
3376746,3353965,2022-03-20,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,2022,3
3376747,3353966,2022-03-20,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,2022,3
3376748,3353967,2022-03-20,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,2022,3
3376749,3353968,2022-03-20,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,2022,3
3376750,3353969,2022-03-20,ชาย,35.0,ปี,ไม่ระบุ,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,2022,3

In [33]:
data_t.isnull().any()

No.                  False
announce_date        False
sex                  False
age                  False
Unit                 False
nationality          False
province_of_onset    False
risk                 False
year                 False
month                False
dtype: bool

✔️**พบว่าไม่มีค่า Missing แล้ว แสดงว่าข้อมูลมีความสะอาดมากขึ้น พอที่จะนำไปวิเคราะห์ต่อในขั้นตอนถัดไปออกแบบและสร้างตาราง pandas dataframe ที่ สามารถนำมาดึงข้อมูลด้วย pandas ได้  ****

# ตารางข้อมูลแต่ละภูมิภาค

ใช้ Dictionary(row oriented) วิธีที่ 1 ของอาจารย์

In [34]:
data_list = [   {'จังหวัด':'อำนาจเจริญ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'บึงกาฬ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'บุรีรัมย์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'ชัยภูมิ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'กาฬสินธุ์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ขอนแก่น','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'เลย','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'มหาสารคาม','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'มุกดาหาร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'นครพนม','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'นครราชสีมา','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'หนองบัวลำภู','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'หนองคาย','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ร้อยเอ็ด','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'สกลนคร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ศรีสะเกษ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'สุรินทร์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'อุบลราชธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'อุดรธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                {'จังหวัด':'ยโสธร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
    #แถวที่ 2
                    {'จังหวัด':'เชียงใหม่','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':' เชียงราย','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'ลำปาง','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'ลำพูน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'แม่ฮ่องสอน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'น่าน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พะเยา','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'แพร่','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'อุตรดิตถ์','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 3
                    {'จังหวัด':'ตาก','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 4
                    {'จังหวัด':'สุโขทัย','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พิษณุโลก','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พิจิตร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'กำแพงเพชร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'เพชรบูรณ์','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 5
                    {'จังหวัด':'นครสวรรค์','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'อุทัยธานี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 6
                    {'จังหวัด':'อ่างทอง','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ชัยนาท','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'พระนครศรีอยุธยา','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'กรุงเทพมหานคร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ลพบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'นครปฐม','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'นนทบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ปทุมธานี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรปราการ','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรสาคร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรสงคราม','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สระบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สิงห์บุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สุพรรณบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
    #แถวที่ 7
                    {'จังหวัด':'นครนายก','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
     #แถวที่ 8
                    {'จังหวัด':'ฉะเชิงเทรา','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'จันทบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ชลบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ปราจีนบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ระยอง','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'สระแก้ว','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ตราด','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
    #แถวที่ 9
                    {'จังหวัด':'กาญจนบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ราชบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
    #แถวที่ 10
                    {'จังหวัด':'เพชรบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ประจวบคีรีขันธ์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
     #แถวที่ 11
                    {'จังหวัด':'ชุมพร','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'นครศรีธรรมราช','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'นราธิวาส','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ปัตตานี','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'พัทลุง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สงขลา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สุราษฎร์ธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ยะลา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
    #แถวที่ 12               
                    {'จังหวัด':'กระบี่','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'พังงา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ภูเก็ต','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ระนอง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สตูล','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ตรัง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},

]

In [35]:
data_Th = pd.DataFrame(data_list)
data_Th

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [36]:
data_Th2 = data_Th[['จังหวัด','5 ภูมิภาค (การท่องเที่ยว)']]
data_Th2

       จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
0   อำนาจเจริญ        ตะวันออกเฉียงเหนือ
1       บึงกาฬ        ตะวันออกเฉียงเหนือ
2    บุรีรัมย์        ตะวันออกเฉียงเหนือ
3      ชัยภูมิ        ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์        ตะวันออกเฉียงเหนือ
..         ...                       ...
72       พังงา                       ใต้
73      ภูเก็ต                       ใต้
74       ระนอง                       ใต้
75        สตูล                       ใต้
76        ตรัง                       ใต้

[77 rows x 2 columns]

**ทำการรวมตารางข้อมูลรายงาน COVID-19 ประจำประเทศไทย กับ ตารางข้อมูลภูมิภาค** 

`` โดยเลือกเอาเฉพาะข้อมูลที่สนใจ``

In [37]:
Table1_data = data_t[['No.','sex','age','Unit','nationality']] #ตารางแรกเลือกเอาเฉพาะฟิวด์ No.','sex','age',Unit','nationality 
Table1_data.head() #ดูแถวด้านบน 5 แถวแรก

   No.   sex   age Unit nationality
0    1  หญิง  61.0   ปี       China
1    2  หญิง  74.0   ปี       China
2    3  หญิง  73.0   ปี    Thailand
3    4   ชาย  68.0   ปี       China
4    5  หญิง  66.0   ปี       China

In [38]:
Table2_data = data_t[['No.','announce_date','year','month','province_of_onset','risk']] #ตารางสองเลือกเอาเฉพาะฟิวด์ No.','announce_date','year','month','province_of_onset','risk
Table2_data.tail() #ดูแถวด้านล่าง 5 แถวแรก

,No.,announce_date,year,month,province_of_onset,risk
3376746,3353965,2022-03-20,2022,3,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376747,3353966,2022-03-20,2022,3,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376748,3353967,2022-03-20,2022,3,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376749,3353968,2022-03-20,2022,3,ไม่ระบุ,ทัณฑสถาน/เรือนจำ
3376750,3353969,2022-03-20,2022,3,ไม่ระบุ,ทัณฑสถาน/เรือนจำ

In [39]:
Table3_data = Table1_data.merge(Table2_data) # นำสองตารางแรกมารวมกันด้วยคำสั่ง merge โดยใช้ฟิวด์No.นำมาเชื่อมกัน
Table3_data.head(10)

,No.,sex,age,Unit,nationality,announce_date,year,month,province_of_onset,risk
0,1,หญิง,61.0,ปี,China,2020-01-12,2020,1,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,หญิง,74.0,ปี,China,2020-01-17,2020,1,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,หญิง,73.0,ปี,Thailand,2020-01-22,2020,1,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,ชาย,68.0,ปี,China,2020-01-22,2020,1,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,หญิง,66.0,ปี,China,2020-01-24,2020,1,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
5,6,หญิง,33.0,ปี,China,2020-01-25,2020,1,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
6,7,หญิง,57.0,ปี,China,2020-01-26,2020,1,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
7,8,หญิง,73.0,ปี,China,2020-01-26,2020,1,ประจวบคีรีขันธ์,คนต่างชาติเดินทางมาจากต่างประเทศ
8,9,ชาย,63.0,ปี,China,2020-01-28,2020,1,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
9,10,หญิง,28.0,ปี,China,2020-01-28,2020,1,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ

In [40]:
data_cl = Table3_data.merge(data_Th2,how='right',left_on = 'province_of_onset',right_on = 'จังหวัด')
data_cl.head(10)

,No.,sex,age,Unit,nationality,announce_date,year,month,province_of_onset,risk,จังหวัด,5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,2020.0,3.0,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02,2020.0,4.0,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,6493.0,หญิง,37.0,ปี,Thailand,2020-12-30,2020.0,12.0,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,7390.0,หญิง,26.0,ปี,Laos,2021-01-03,2021.0,1.0,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,31038.0,ชาย,38.0,ปี,Thailand,2021-04-10,2021.0,4.0,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
5,31039.0,หญิง,45.0,ปี,Thailand,2021-04-10,2021.0,4.0,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
6,32917.0,ชาย,29.0,ปี,Thailand,2021-04-12,2021.0,4.0,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
7,32918.0,ชาย,29.0,ปี,Thailand,2021-04-12,2021.0,4.0,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
8,36501.0,หญิง,21.0,ปี,Thailand,2021-04-15,2021.0,4.0,อำนาจเจริญ,ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
9,36502.0,หญิง,19.0,ปี,Thailand,2021-04-15,2021.0,4.0,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ

## ขั้นตอนต่อมาคือ ตรวจดูชุดข้อมูล ในแต่ละฟิวด์ ว่ามีข้อมูลที่ผิดปกติหรือไม่

**เช็คดูค่า Missing**

In [41]:
data_cl.isnull().any()

No.                           True
sex                           True
age                           True
Unit                          True
nationality                   True
announce_date                 True
year                          True
month                         True
province_of_onset             True
risk                          True
จังหวัด                      False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

In [42]:
data_cl2 = data_cl.dropna()

In [43]:
data_cl2

,No.,sex,age,Unit,nationality,announce_date,year,month,province_of_onset,risk,จังหวัด,5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,2020.0,3.0,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02,2020.0,4.0,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,6493.0,หญิง,37.0,ปี,Thailand,2020-12-30,2020.0,12.0,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,7390.0,หญิง,26.0,ปี,Laos,2021-01-03,2021.0,1.0,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,31038.0,ชาย,38.0,ปี,Thailand,2021-04-10,2021.0,4.0,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...
2998230,3350552.0,หญิง,28.0,ปี,Thailand,2022-03-20,2022.0,3.0,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้
2998231,3350553.0,หญิง,53.0,ปี,Thailand,2022-03-20,2022.0,3.0,ตรัง,อื่นๆ,ตรัง,ใต้
2998232,3350554.0,หญิง,62.0,ปี,Thailand,2022-03-20,2022.0,3.0,ตรัง,อื่นๆ,ตรัง,ใต้
2998233,3350555.0,หญิง,48.0,ปี,Thailand,2022-03-20,2022.0,3.0,ตรัง,อื่นๆ,ตรัง,ใต้
2998234,3350556.0,ชาย,50.0,ปี,Thailand,2022-03-20,2022.0,3.0,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้

In [44]:
data_cl2.isnull().any() # ไม่พบค่า True แล้ว

No.                          False
sex                          False
age                          False
Unit                         False
nationality                  False
announce_date                False
year                         False
month                        False
province_of_onset            False
risk                         False
จังหวัด                      False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

เช็คเปอร์เซ็น missing ที่ dropna

In [45]:
#before = ......
#after = .....
#print(f'before = {before} \nafter = {after}\n which is {((before-after)/before)*100}')

**ตรวจดูชุดข้อมูล**

In [46]:
 set(data_cl2['Unit'])

{' วัน', ' เดือน', 'ปี', 'วัน', 'เดือน'}

In [47]:
 set(data_cl2['sex']) #เรียกดูชุดข้อมูลของ ฟิวด์ เพศ สังเกตได้ว่า ไม่ได้มีแค่ ชาย-หญิง

{'ช', 'ชาย', 'ญ', 'นาย', 'ร.ต.ท.', 'หญิง', 'หณิง', 'หห', 'ไม่ระบุ'}

In [48]:
data_cl2.replace({'ปี':'ปี', 'เดือน':'ปี', 'วัน':'ปี', ' เดือน':'ปี', ' วัน':'ปี'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [49]:
data_cl2.replace({'ชาย':'ชาย', 'หญิง':'หญิง','นาย':'ชาย', 'ร.ต.ท.':'ชาย',
       'ช':'ชาย', 'ญ':'หญิง', 'หณิง':'หญิง', 'หห':'ไม่ระบุ'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [50]:
data_cl2.head(10)

,No.,sex,age,Unit,nationality,announce_date,year,month,province_of_onset,risk,จังหวัด,5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,2020.0,3.0,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02,2020.0,4.0,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,6493.0,หญิง,37.0,ปี,Thailand,2020-12-30,2020.0,12.0,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,7390.0,หญิง,26.0,ปี,Laos,2021-01-03,2021.0,1.0,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,31038.0,ชาย,38.0,ปี,Thailand,2021-04-10,2021.0,4.0,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
5,31039.0,หญิง,45.0,ปี,Thailand,2021-04-10,2021.0,4.0,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
6,32917.0,ชาย,29.0,ปี,Thailand,2021-04-12,2021.0,4.0,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
7,32918.0,ชาย,29.0,ปี,Thailand,2021-04-12,2021.0,4.0,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
8,36501.0,หญิง,21.0,ปี,Thailand,2021-04-15,2021.0,4.0,อำนาจเจริญ,ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
9,36502.0,หญิง,19.0,ปี,Thailand,2021-04-15,2021.0,4.0,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ

ใช้ข้อมูลตั้งแต่วันที่ 1 มกราคม 2564 ถึง 20 มีนาคม 2565

In [51]:
data_cl3 = data_cl2[(data_cl2['announce_date']>='2021-01-01') & (data_cl2['announce_date']<='2022-03-20')]
data_cl3

,No.,sex,age,Unit,nationality,announce_date,year,month,province_of_onset,risk,จังหวัด,5 ภูมิภาค (การท่องเที่ยว)
3,7390.0,หญิง,26.0,ปี,Laos,2021-01-03,2021.0,1.0,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,31038.0,ชาย,38.0,ปี,Thailand,2021-04-10,2021.0,4.0,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
5,31039.0,หญิง,45.0,ปี,Thailand,2021-04-10,2021.0,4.0,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
6,32917.0,ชาย,29.0,ปี,Thailand,2021-04-12,2021.0,4.0,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
7,32918.0,ชาย,29.0,ปี,Thailand,2021-04-12,2021.0,4.0,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...
2998230,3350552.0,หญิง,28.0,ปี,Thailand,2022-03-20,2022.0,3.0,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้
2998231,3350553.0,หญิง,53.0,ปี,Thailand,2022-03-20,2022.0,3.0,ตรัง,อื่นๆ,ตรัง,ใต้
2998232,3350554.0,หญิง,62.0,ปี,Thailand,2022-03-20,2022.0,3.0,ตรัง,อื่นๆ,ตรัง,ใต้
2998233,3350555.0,หญิง,48.0,ปี,Thailand,2022-03-20,2022.0,3.0,ตรัง,อื่นๆ,ตรัง,ใต้
2998234,3350556.0,ชาย,50.0,ปี,Thailand,2022-03-20,2022.0,3.0,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้

# ข้อมูลชุดที่ 3

In [52]:
data_file_path = os.path.join(path,'usage_jan.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_31 = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [53]:
data_31

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1.0,2564.0,มกราคม,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,7549.56,204489.39,1179.0,168.0
1,2.0,2564.0,มกราคม,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,11403.62,142320.11,684.0,79.0
2,3.0,2564.0,มกราคม,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,1304.09,15968.95,371.0,78.0
3,4.0,2564.0,มกราคม,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,1134.75,22420.8,264.0,112.0
4,5.0,2564.0,มกราคม,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,2805.44,43549.48,1025.0,343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,24696.0,2564.0,มกราคม,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,19683.82,296606.3,1322.0,58.0
24696,24697.0,2564.0,มกราคม,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,13318.0,137038.7,920.0,87.0
24697,24698.0,2564.0,มกราคม,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,24436.22,426654.02,2099.0,136.0
24698,24699.0,2564.0,มกราคม,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,15388.73,319753.02,2880.0,78.0
24699,24700.0,2564.0,มกราคม,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,5362.73,119498.86,1596.0,74.0

In [54]:
data_file_path = os.path.join(path,'usage_64_feb.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_32 = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [55]:
data_32

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1,2564,กุมภาพันธ์,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,7420.47,169908.27,1166,177
1,2,2564,กุมภาพันธ์,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,11116.28,156965.28,690,75
2,3,2564,กุมภาพันธ์,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,941.16,14120.33,328,82
3,4,2564,กุมภาพันธ์,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,7487.65,106303.07,909,255
4,5,2564,กุมภาพันธ์,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,3035.84,47016.3,1123,366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,24696,2564,กุมภาพันธ์,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,12088.02,255993.26,1192,58
24696,24697,2564,กุมภาพันธ์,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,5758.88,94170.6,766,72
24697,24698,2564,กุมภาพันธ์,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,23205.91,434805.96,2363,145
24698,24699,2564,กุมภาพันธ์,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,12165.16,252611.56,2149,97
24699,24700,2564,กุมภาพันธ์,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,8432.65,111177.15,1579,72

In [56]:
data_file_path = os.path.join(path,'usage_64_mar.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_33 = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [57]:
data_33

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1,2564,มีนาคม,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,9261,217990,1379,196
1,2,2564,มีนาคม,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,9885,133165,600,69
2,3,2564,มีนาคม,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,503,8531,292,92
3,4,2564,มีนาคม,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,6082,102922,733,203
4,5,2564,มีนาคม,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,3433,66624,1314,381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,24696,2564,มีนาคม,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,15306,340626,1340,79
24696,24697,2564,มีนาคม,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,9007,115237,757,89
24697,24698,2564,มีนาคม,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,30100,606556,2581,129
24698,24699,2564,มีนาคม,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,16287,321122,2507,73
24699,24700,2564,มีนาคม,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,7893,130372,1851,63

In [58]:
data_file_path = os.path.join(path,'usage_64_apr.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_34 = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [59]:
data_34

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1,2564,เมษายน,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,9713,254114,1001,155
1,2,2564,เมษายน,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,8410,124451,543,51
2,3,2564,เมษายน,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,712,9224,278,84
3,4,2564,เมษายน,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,3668,42565,373,136
4,5,2564,เมษายน,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,2029,36694,717,268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,24696,2564,เมษายน,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,15157,314072,1191,57
24696,24697,2564,เมษายน,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,12005,156468,929,106
24697,24698,2564,เมษายน,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,38806,627454,2401,131
24698,24699,2564,เมษายน,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,10925,255425,1785,77
24699,24700,2564,เมษายน,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,10016,168332,1697,81

In [60]:
data_file_path = os.path.join(path,'usage_64_may.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_35 = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [61]:
data_35

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1,2564,พฤษภาคม,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,9641.22,236536.95,1060,155
1,2,2564,พฤษภาคม,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,7949.49,129684.64,572,52
2,3,2564,พฤษภาคม,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,1781.58,28773.12,594,98
3,4,2564,พฤษภาคม,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,2397.82,41429.45,432,145
4,5,2564,พฤษภาคม,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,1517.79,39459.89,709,262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,24696,2564,พฤษภาคม,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,16517.56,353419.01,1205,56
24696,24697,2564,พฤษภาคม,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,6229.97,86568.43,513,63
24697,24698,2564,พฤษภาคม,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,36854.62,572540.97,2146,110
24698,24699,2564,พฤษภาคม,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,14660.54,321043.46,1492,88
24699,24700,2564,พฤษภาคม,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,12706.13,228801.38,1766,80

In [62]:
data_file_path = os.path.join(path,'usage_64_jun.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_36 = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [63]:
data_36

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1,2564,มิถุนายน,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,7977,196846,1067,133
1,2,2564,มิถุนายน,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,4958,80183,450,52
2,3,2564,มิถุนายน,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,1146,17810,325,71
3,4,2564,มิถุนายน,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,2928,50411,660,210
4,5,2564,มิถุนายน,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,4123,67346,902,278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,24696,2564,มิถุนายน,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,13866,315197,1188,57
24696,24697,2564,มิถุนายน,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,6240,86574,518,65
24697,24698,2564,มิถุนายน,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,33623,573091,2256,110
24698,24699,2564,มิถุนายน,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,14898,294401,1646,98
24699,24700,2564,มิถุนายน,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,15565,204843,1469,82

In [64]:
data_file_path = os.path.join(path,'usage_64_jul.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_37 = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [65]:
data_37

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1,2564,กรกฎาคม,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,8820.426,152355.166,912,130
1,2,2564,กรกฎาคม,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,4901.447,86793.122,403,57
2,3,2564,กรกฎาคม,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,1609.270,18763.148,364,69
3,4,2564,กรกฎาคม,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,6318.988,91007.659,693,182
4,5,2564,กรกฎาคม,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,2753.816,71735.238,855,260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,24696,2564,กรกฎาคม,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,16708.150,343826.038,1234,61
24696,24697,2564,กรกฎาคม,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,6863.967,103889.318,523,94
24697,24698,2564,กรกฎาคม,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,39205.905,668376.914,2294,111
24698,24699,2564,กรกฎาคม,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,18394.420,276925.679,1155,75
24699,24700,2564,กรกฎาคม,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,9930.958,166575.995,929,70

In [66]:
data_file_path = os.path.join(path,'usage_64_aug.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_38 = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [67]:
data_38

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1,2564,สิงหาคม,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,16579.706,267162.094,1073,153
1,2,2564,สิงหาคม,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,15328.498,165512.054,558,65
2,3,2564,สิงหาคม,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,2469.493,30831.475,579,79
3,4,2564,สิงหาคม,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,2277.230,37788.262,462,136
4,5,2564,สิงหาคม,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,1534.619,53121.232,675,236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,24696,2564,สิงหาคม,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,17720.000,366714.000,1397,67
24696,24697,2564,สิงหาคม,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,6874.367,103895.818,525,95
24697,24698,2564,สิงหาคม,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,46173.201,752527.452,2492,115
24698,24699,2564,สิงหาคม,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,14488.043,251780.657,1244,71
24699,24700,2564,สิงหาคม,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,13310.229,219751.612,1108,71

In [68]:
data_file_path = os.path.join(path,'usage_64_sep.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_39 = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [69]:
data_39

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1,2564,กันยายน,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,11098.702,206770.790,1061,112
1,2,2564,กันยายน,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,7816.190,85299.368,382,46
2,3,2564,กันยายน,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,971.152,14294.861,325,65
3,4,2564,กันยายน,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,1640.621,33126.964,332,116
4,5,2564,กันยายน,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,3648.678,84015.304,856,253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,24696,2564,กันยายน,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,22304.662,357488.784,1265,59
24696,24697,2564,กันยายน,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,2954.848,64928.658,540,58
24697,24698,2564,กันยายน,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,37363.251,651376.961,2319,95
24698,24699,2564,กันยายน,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,23381.546,318704.960,1402,87
24699,24700,2564,กันยายน,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,11342.516,239883.168,1111,59

In [70]:
data_e =pd.concat([data_31,data_32,data_33,data_34,data_35,data_36,data_37,data_38,data_39], ignore_index=True)
data_e

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1.0,2564.0,มกราคม,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,7549.56,204489.39,1179.0,168.0
1,2.0,2564.0,มกราคม,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,11403.62,142320.11,684.0,79.0
2,3.0,2564.0,มกราคม,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,1304.09,15968.95,371.0,78.0
3,4.0,2564.0,มกราคม,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,1134.75,22420.8,264.0,112.0
4,5.0,2564.0,มกราคม,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,2805.44,43549.48,1025.0,343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222295,24696.0,2564.0,กันยายน,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,22304.662,357488.784,1265.0,59.0
222296,24697.0,2564.0,กันยายน,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,2954.848,64928.658,540.0,58.0
222297,24698.0,2564.0,กันยายน,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,37363.251,651376.961,2319.0,95.0
222298,24699.0,2564.0,กันยายน,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,23381.546,318704.96,1402.0,87.0
222299,24700.0,2564.0,กันยายน,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,11342.516,239883.168,1111.0,59.0

## จากในตารางมีข้อมูลดังนี้

*

In [71]:
data_e.isnull().any()

ID             False
YEAR           False
MONTH          False
CIRCUIT_NO     False
APP_CODE       False
REGION         False
VILLAGE        False
SUBDISTRICT    False
DISTRICT       False
PROVINCE       False
AP_NAME        False
IP_ADDRESS     False
UPLOAD         False
DOWNLOAD       False
NUM_USERS      False
NUM_DEVICES    False
dtype: bool

In [72]:
data_e2 = data_e[['YEAR','MONTH','ID','CIRCUIT_NO','APP_CODE','REGION','DISTRICT','PROVINCE','AP_NAME','IP_ADDRESS','NUM_USERS','NUM_DEVICES']]
data_e2

,YEAR,MONTH,ID,CIRCUIT_NO,APP_CODE,REGION,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,NUM_USERS,NUM_DEVICES
0,2564.0,มกราคม,1.0,7561d9000,SR664610,ภ.4,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,1179.0,168.0
1,2564.0,มกราคม,2.0,4485d9000,SR711371,ภ.2,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,684.0,79.0
2,2564.0,มกราคม,3.0,4485d9001,SR711374,ภ.2,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,371.0,78.0
3,2564.0,มกราคม,4.0,4486d9000,SR711628,ภ.2,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,264.0,112.0
4,2564.0,มกราคม,5.0,4486d9001,SR711630,ภ.2,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,1025.0,343.0
...,...,...,...,...,...,...,...,...,...,...,...,...
222295,2564.0,กันยายน,24696.0,4531d9103,SR740891,ภ.2,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,1265.0,59.0
222296,2564.0,กันยายน,24697.0,4531d9077,SR705346,ภ.2,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,540.0,58.0
222297,2564.0,กันยายน,24698.0,4531d9078,SR705347,ภ.2,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,2319.0,95.0
222298,2564.0,กันยายน,24699.0,4531d9079,SR705349,ภ.2,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,1402.0,87.0
222299,2564.0,กันยายน,24700.0,4531d9081,SR705352,ภ.2,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,1111.0,59.0

In [73]:
set(data_e2['REGION'])

{'น.2', 'น.3', 'น.4', 'ภ.1', 'ภ.2', 'ภ.3', 'ภ.4', 'ภ.5'}

In [74]:
data_e2.replace({'น.2':'กลาง', 'น.3':'กลาง', 'น.4':'กลาง', 'ภ.1':'กลาง', 'ภ.2':'ตะวันออกเฉียงเหนือ', 'ภ.3':'เหนือ','ภ.4':'ใต้','ภ.5':'ตะวันออก'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [75]:
data_e2

,YEAR,MONTH,ID,CIRCUIT_NO,APP_CODE,REGION,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,NUM_USERS,NUM_DEVICES
0,2564.0,มกราคม,1.0,7561d9000,SR664610,ใต้,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,1179.0,168.0
1,2564.0,มกราคม,2.0,4485d9000,SR711371,ตะวันออกเฉียงเหนือ,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,684.0,79.0
2,2564.0,มกราคม,3.0,4485d9001,SR711374,ตะวันออกเฉียงเหนือ,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,371.0,78.0
3,2564.0,มกราคม,4.0,4486d9000,SR711628,ตะวันออกเฉียงเหนือ,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,264.0,112.0
4,2564.0,มกราคม,5.0,4486d9001,SR711630,ตะวันออกเฉียงเหนือ,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,1025.0,343.0
...,...,...,...,...,...,...,...,...,...,...,...,...
222295,2564.0,กันยายน,24696.0,4531d9103,SR740891,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,1265.0,59.0
222296,2564.0,กันยายน,24697.0,4531d9077,SR705346,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,540.0,58.0
222297,2564.0,กันยายน,24698.0,4531d9078,SR705347,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,2319.0,95.0
222298,2564.0,กันยายน,24699.0,4531d9079,SR705349,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,1402.0,87.0
222299,2564.0,กันยายน,24700.0,4531d9081,SR705352,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,1111.0,59.0

# รวมทั้ง 3 ตาราง

In [76]:
data_e3 = data_cl3.merge(data_e2,how='right',left_on = 'No.',right_on ='ID')
data_e3

,No.,sex,age,Unit,nationality,announce_date,year,month,province_of_onset,risk,...,ID,CIRCUIT_NO,APP_CODE,REGION,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,NUM_USERS,NUM_DEVICES
0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,1.0,7561d9000,SR664610,ใต้,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,1179.0,168.0
1,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,2.0,4485d9000,SR711371,ตะวันออกเฉียงเหนือ,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,684.0,79.0
2,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,3.0,4485d9001,SR711374,ตะวันออกเฉียงเหนือ,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,371.0,78.0
3,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4486d9000,SR711628,ตะวันออกเฉียงเหนือ,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,264.0,112.0
4,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,5.0,4486d9001,SR711630,ตะวันออกเฉียงเหนือ,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,1025.0,343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222295,24696.0,ชาย,10.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24696.0,4531d9103,SR740891,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,1265.0,59.0
222296,24697.0,ชาย,25.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24697.0,4531d9077,SR705346,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,540.0,58.0
222297,24698.0,ชาย,35.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24698.0,4531d9078,SR705347,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,2319.0,95.0
222298,24699.0,ชาย,45.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24699.0,4531d9079,SR705349,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,1402.0,87.0
222299,24700.0,หญิง,49.0,ปี,Thailand,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24700.0,4531d9081,SR705352,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,1111.0,59.0

In [77]:
data_e4 = data_e3.dropna() #ใช้ .dropna ในการตัดแถวข้อมูลที่มีค่า missing
data_e4

,No.,sex,age,Unit,nationality,announce_date,year,month,province_of_onset,risk,...,ID,CIRCUIT_NO,APP_CODE,REGION,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,NUM_USERS,NUM_DEVICES
124,125.0,หญิง,55.0,ปี,Thailand,2021-03-06,2021.0,3.0,ปทุมธานี,Cluster ตลาดพรพัฒน์,...,125.0,3451d9027,SR771747,กลาง,เมืองกาญจนบุรี,กาญจนบุรี,KRI-SR771747,172.16.0.106,2874.0,163.0
6885,6886.0,หญิง,40.0,ปี,Thailand,2021-01-01,2021.0,1.0,ปทุมธานี,Cluster สมุทรสาคร,...,6886.0,4380d9308,SR665963,ตะวันออกเฉียงเหนือ,ร่องคำ,กาฬสินธุ์,KSN1-SR665963,172.16.86.210,995.0,98.0
6886,6887.0,หญิง,21.0,ปี,Thailand,2021-01-01,2021.0,1.0,ปทุมธานี,Cluster ระยอง,...,6887.0,4380d9310,SR665965,ตะวันออกเฉียงเหนือ,ร่องคำ,กาฬสินธุ์,KSN1-SR665965,172.16.86.226,833.0,100.0
6887,6888.0,หญิง,20.0,ปี,Thailand,2021-01-01,2021.0,1.0,นครปฐม,สถานบันเทิง,...,6888.0,4380d9309,SR665964,ตะวันออกเฉียงเหนือ,ร่องคำ,กาฬสินธุ์,KSN1-SR665964,172.16.86.218,1007.0,67.0
6888,6889.0,หญิง,47.0,ปี,Thailand,2021-01-01,2021.0,1.0,นครปฐม,Cluster สมุทรสาคร,...,6889.0,4380d9311,SR665966,ตะวันออกเฉียงเหนือ,ร่องคำ,กาฬสินธุ์,KSN1-SR665966,172.16.86.234,1742.0,83.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222295,24696.0,ชาย,10.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24696.0,4531d9103,SR740891,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,1265.0,59.0
222296,24697.0,ชาย,25.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24697.0,4531d9077,SR705346,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,540.0,58.0
222297,24698.0,ชาย,35.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24698.0,4531d9078,SR705347,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,2319.0,95.0
222298,24699.0,ชาย,45.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24699.0,4531d9079,SR705349,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,1402.0,87.0
222299,24700.0,หญิง,49.0,ปี,Thailand,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24700.0,4531d9081,SR705352,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,1111.0,59.0

# เลือกข้อมูลเพื่อนำไปทำ Dash board

In [81]:
data_clean=data_e4

In [82]:
data_clean.tail(5)

,No.,sex,age,Unit,nationality,announce_date,year,month,province_of_onset,risk,...,ID,CIRCUIT_NO,APP_CODE,REGION,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,NUM_USERS,NUM_DEVICES
222295,24696.0,ชาย,10.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24696.0,4531d9103,SR740891,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,1265.0,59.0
222296,24697.0,ชาย,25.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24697.0,4531d9077,SR705346,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,540.0,58.0
222297,24698.0,ชาย,35.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24698.0,4531d9078,SR705347,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,2319.0,95.0
222298,24699.0,ชาย,45.0,ปี,Burma,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24699.0,4531d9079,SR705349,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,1402.0,87.0
222299,24700.0,หญิง,49.0,ปี,Thailand,2021-02-15,2021.0,2.0,สมุทรสาคร,Cluster สมุทรสาคร,...,24700.0,4531d9081,SR705352,ตะวันออกเฉียงเหนือ,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,1111.0,59.0

In [80]:
data_clean.to_csv(os.path.join(path,'data_clean.csv'))

เลือกเฉพาะฟิวด์ที่สนใจ

รันไม่ได้ข้อมูลเยอะไป